@model IEnumerable<HotelBooking.Model.Reatraurant.BillingDetails>

@{ 
    var totalItems = 0;
    var MaterId = 0;
}
@if (Model != null)
            {
                var i = 1;
                foreach (var rt in Model)
                {
                    MaterId = rt.BillingMasterId;
                    var foodItemId = "FoodItem_" + i.ToString();
                    var totaAmtId = foodItemId + "-" + rt.Tax * 100;
                   <div class="row" id="@foodItemId">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <input type="text" id="@rt.ItemId"  class="full-width height35" value="@rt.ItemName" placeholder="Choose Item" disabled runat="server">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <input type="text" id="@rt.BillingDetailsId" class="full-width height35" onkeyup="myCALFunction(this)" placeholder="Quantity" value="@rt.Quantity" runat="server">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <input type="text" id="@totaAmtId" class="full-width height35" placeholder="Total"  value="@rt.Amount" disabled runat="server">
            </div>
        </div>
        i++;
    }
    totalItems = i;
}
<script>
    $(document).ready(function () {
        $("#hdnItems").val(@totalItems);
        $("#hdnBiilingMaterId").val(@MaterId);
        
    });
</script>

