@model IEnumerable<HotelBooking.Model.Reatraurant.RestaurantTables>
<ul class="tablebook">
    @if (Model != null)
    {
        var i = 1;
        foreach (var rt in Model)
        {
            var tblName = "Table" + i;
            var bgcolor = rt.isOccupied ? "class=red" : "class=green";
            <li id="@rt.TableId" onclick="LoadParkedItems('@rt.RestaurantId','@rt.TableId','@tblName');">
                <a @bgcolor href="#">
                   
                    <p>@tblName</p>
                    <p>Seat @rt.NoOfSeat</p>
                </a>
            </li>
            i++;
        }
    }
    @*<li><a href="#" class="green"><p>Table 01</p><p>Seat 4</p></a></li>
    <li><a href="#" class="orange"><p>Table 01</p><p>Seat 4</p></a></li>
    <li><a href="#" class="red"><p>Table 01</p><p>Seat 4</p></a></li>

    <li><a href="#"><p>Table 01</p><p>Seat 4</p></a></li>
    <li><a href="#"><p>Table 01</p><p>Seat 4</p></a></li>
    <li><a href="#"><p>Table 01</p><p>Seat 4</p></a></li>
    <li><a href="#"><p>Table 01</p><p>Seat 4</p></a></li>
    <li><a href="#"><p>Table 01</p><p>Seat 4</p></a></li>
    <li><a href="#"><p>Table 01</p><p>Seat 4</p></a></li>*@
</ul>

 <script>
    $(document).ready(function () {
        
    });
     function LoadParkedItems(restroId, tblId,tblName) {
         $("#hdnTableId").val(tblId);
         $("#slectedRoom_Table").text("Dining for Table # ::" + tblName);
         $("#hdnisRoomService").val(false);
         $("#billdetails").load("/Home/_FoodCartItems?RestaurantId=" + restroId + "&tableId=" + tblId);
         //console.log("Park Item Loaded");
         $('#btnAdd').prop('disabled', false);
       setTimeout(calculateTotal, 1000);
     
     }
</script>

