@model IEnumerable<HotelBooking.Model.PriceResponse>
@{
    var idn = Model.Select(c => c.CostId).First();
    var totDiveId = "TotalCostForNights" + idn;
    var totOfferPriceId = "TotalOfferCostForNights" + idn;
    var totTaxDiveId = "TotalTaxForNights" + idn;
    var tableId = "TableId" + idn;
    var btnId = "btn" + idn;
    decimal gtotalAmount = decimal.Parse("0");
    decimal gtotalTax = decimal.Parse("0");
    decimal gtotalPayable = decimal.Parse("0");
}
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-body">
            <div class="row">
                <h4 class="tabheading text-left popuphed"><i class="fa fa-edit" aria-hidden="true"></i> View/Edit Per Day Price </h4>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-bordered" id="@tableId">
                        <thead>
                            <tr class="trthbgclr text-left">
                                <th width="33%">&nbsp;</th>
                                <th width="33%"> Price</th>
                                <th width="33%">Offer Price</th>
                                <th width="33%"> Tax</th>
                                <th width="33%">Payable Price</th>

                            </tr>
                         </thead>
                        <tbody>

                            @if (Model != null)
                            {
                                var i = 1;
                                decimal totalAmount = decimal.Parse("0");
                                decimal totalTax = decimal.Parse("0");

                                foreach (HotelBooking.Model.PriceResponse p in Model)
                                //for(var k = 0; k < Model.Count(); i++)
                                {
                                    decimal op = p.OfferPrice + p.TaxAmount;
                                    var txtId = "txtDay" + i.ToString() + "" + tableId.ToString();
                                    var TaxAmountId = "TaxAmountId" + i.ToString() + "" + tableId.ToString();
                                    var AmtWithTaxId = "AmtWithTaxId" + i.ToString() + "" + tableId.ToString();
                                    decimal AmtWithTax = p.OfferPrice + p.TaxAmount;
                                    <tr>
                                        <th width="33%">Day #@i</th>
                                        <td><label>@ViewBag.CurrencySymbol  @p.Amount</label></td>
                                        <td>
                                            <input type="text" id="@txtId" vTag="@p.Date.ToString("MM-dd-yyyy")" taxVal="@p.Tax" class="full-width allinput" placeholder="0.00" onkeyup="calculateOfferPrice(this.value,@p.Tax,@TaxAmountId,@AmtWithTaxId);" value="@p.OfferPrice" runat="server">
                                        </td>



                                        <td><label>@ViewBag.CurrencySymbol <span id="@TaxAmountId">@p.TaxAmount</span> </label></td>
                                        <td><label>@ViewBag.CurrencySymbol <span id="@AmtWithTaxId">@AmtWithTax</span>  </label></td>
                                    </tr>

                                    i++;
                                    totalAmount = totalAmount + AmtWithTax;
                                    totalTax = totalTax + p.TaxAmount;
                                    
                                    gtotalAmount = gtotalAmount + p.Amount;
                                    gtotalTax = gtotalTax + totalTax;
                                    gtotalPayable = gtotalPayable + AmtWithTax;
                                }

                                <input type="hidden" id="@totDiveId" value="@totalAmount" />
                                <input type="hidden" id="@totOfferPriceId" value="@gtotalPayable" />
                                <input type="hidden" id="@totTaxDiveId" value="@totalTax" />

                            }
                        </tbody>
                        @*<tfooter>
                            <tr class="trthbgclr text-left">
                                <th width="33%">Total</th>
                                <th width="33%"> @gtotalAmount</th>

                                <th width="33%"> @gtotalTax</th>
                                <th width="33%">@gtotalPayable</th>

                            </tr>
                        </tfooter>*@
                    </table>
                </div>
                @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button type="button" class="allbtnin full-width" onclick="updateTotalCost('@idn');" id="@btnId">Save</button>
                </div>*@
            </div>
        </div>
        <div class="modal-footer">
           
            <button type="button" class="allbtnin full-width" onclick="updateTotalCost('@idn');" id="@btnId">Save</button>
      
            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

<script>

    function calculateOfferPrice(amt, tx, TaxVal, TxWithAmount) {
        //console.log(TxWithAmount);
        var TaxAmt = amt * tx / 100;
        var AmountWithTax = Number(amt) + Number(TaxAmt);
        $('#' + TaxVal.id).text(TaxAmt.toFixed(2));
        $('#' + TxWithAmount.id).text(Number(AmountWithTax).toFixed(2));

    }
    $(document).ready(function () {
        var nor='@idn';
        var btnid = "btnId" + '@idn';
        for(i = 1; i <= nor; i++){
            var perRoomCostId = "totalPerRoomCost" + i;
            var totalPerRoomTax = "totalPerRoomTax" + i;
            var jsondataId ="jsonDataId"+  i;
            var TotalRoomCost = $("#" + '@totDiveId').val();
            //var TotalRoomCost = $("#" + '@totOfferPriceId').val();
            
            var TotalRoomTax = $("#" + '@totTaxDiveId').val();
              $("#" + perRoomCostId).text(TotalRoomCost);
            $("#" + totalPerRoomTax).val(TotalRoomTax);
                $("#" + jsondataId).val('@Html.Raw(Json.Encode(Model))');
        }



        $("#" + perRoomCostId).on('change', function () {
            //console.log("Cost Chnaged");
            //console.log("Current Cost" + amt);
            $("#totAmt").trigger('change');
        });


    });

    function updateTotalCost(id) {
        var tableId ="TableId"+id;
        var totalRoomCostonSave = parseInt("0");
        var totalRoomTaxCostonSave = parseInt("0");
        var totalBasePrice = parseInt("0");
        var jsondataId = "jsonDataId" + id;
        data = $.parseJSON($("#" + jsondataId).val());
        console.log("sanjay==" + JSON.stringify(data));
        $('#' + tableId).find('input[type=text]').each(function () {
         //console.log($(this).attr("vTag"));
            var dd = $(this).attr("vTag");
            var TaxP = $(this).attr("taxval");
            var TaxAmt = this.value * TaxP / 100;
            var vv = Number(this.value)  ;

            for (let object of data) {
                console.log(object.Date);
                //var dt = object.Date;
                var dt = new Date(parseInt(object.Date.replace("/Date(", "").replace(")/", ""), 10))
                var year = dt.getFullYear();
                var month = ("0" + (dt.getMonth() + 1)).slice(-2); // Adding leading zero
                var day = ("0" + dt.getDate()).slice(-2); // Adding leading zero
                var ItemshortDate = month + "-" + day + "-" + year;
                console.log("textValue Date"+dd);
                console.log("Object Date" + ItemshortDate);

               

                if (ItemshortDate == dd) {
                    object.OfferPrice = vv.toFixed(2);
                    object.TaxAmount = TaxAmt.toFixed(2);
                    object.Date = ItemshortDate;

               }
            }
            console.log(data);
            var tmpTotal = Number(vv) + Number(TaxAmt);
            totalRoomCostonSave += Number(tmpTotal);
            totalRoomTaxCostonSave += TaxAmt;

         //console.log(totalRoomCostonSave)
        });

        var perRoomCostId = "totalPerRoomCost" + id;
        var totalPerRoomTaxId = "totalPerRoomTax" + id;
        $("#" + perRoomCostId).text(totalRoomCostonSave.toFixed(2));
        $("#" + totalPerRoomTaxId).val(totalRoomTaxCostonSave.toFixed(2));
        divLoaded();
        $("#" + perRoomCostId).trigger('change');
        console.log("=======");
        //console.log(data);
        $("#"+jsondataId).val(JSON.stringify(data))

    }

</script>

