@model HotelBooking.Model.VMBooking.VM_PricePerRoom
<style>
    .cancelledRow {
        border: 1px solid black;
        border-collapse: collapse;
        background-color:gray;
    }
    .divloader {
        border: 2px solid #f3f3f3;
        border-radius: 50%;
        border-top: 2px solid #3498db;
        width: 10px;
        height: 10px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
    }

    /* Safari */
    @@-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<table width="100%" border="0" id="tblCosting" cellspacing="0" cellpadding="0">
    <tbody>



        @*IEnumerable<HotelBooking.Model.BookedRoom> eRoom = ViewBag.BookedRoom as IEnumerable<HotelBooking.Model.BookedRoom>;*@
        @if (Model != null)
        {

            int i = 1;



            foreach (var bkr in Model.EsitingRooms)

            {

                var rtselname = "RTSelType" + i.ToString();
                var divref = "#ViewEditPerDayPrice" + i.ToString();
                var VEPPL = "ViewEditPerDayPriceLink" + i.ToString();
                var jsonDataId = "jsonDataId" + i.ToString();

                var totalPerRoomCostId = "totalPerRoomCost" + i.ToString();
                var totalPerRoomTaxId = "totalPerRoomTax" + i.ToString();
                var RoomType_RoomId = "RoomType_RoomId" + i.ToString();
                var makeRowGray = "";
                var makeTxtBxReadOnly = "";
                var maketxtBxColor = "";
                var isCancelled = false;
                var totalPerRoomOfferPriceId = "totalPerRoomOfferPriceId" + i.ToString();
                if (bkr.RoomTypeName.Contains("Cancelled"))
                {
                    isCancelled = true;
                    makeRowGray = "cancelledRow";
                    makeTxtBxReadOnly = "readonly=Readonly";
                    maketxtBxColor = "style=background-color:gray";
                }
                <tr class="@makeRowGray">
                    <td class="trthbgclr" width="10%" align="left" valign="middle">Room #@i</td>
                    <td width="30%" align="left" valign="middle">

                        <div class="autocomplete">
                            <input type="text" tabindex="1" @makeTxtBxReadOnly @maketxtBxColor idn="@i" id="@rtselname" class="dropbtn full-width ValidateInput" RoomTypeId="@bkr.RoomTypeId" RoomNumber="@bkr.RoomNumber" BookedRoomId="@bkr.BookedRoomId" FloorId="@bkr.FloorId" FloorName="@bkr.FloorName" RoomId="@bkr.RoomId" value="@bkr.RoomTypeName" placeholder="Choose Rooms" autocomplete="off" runat="server">
                        </div>
                    </td>
                    <td width="12%" align="center" valign="middle">@Model.todalNight</td>
                    <td width="16%" align="right" valign="middle" id="@totalPerRoomCostId"></td>
                    <td width="16%" align="right" tabindex="2" valign="middle">
                        <input type="text" id="@totalPerRoomOfferPriceId" @makeTxtBxReadOnly @maketxtBxColor onkeyup="ChangeCost('@totalPerRoomCostId',this,'@i','@Model.NOR');" class="dropbtn full-width ValidateInput" value="0.00" />
                    </td>


                    <td width="16%" align="center" valign="middle">
                        <input type="hidden" id="@totalPerRoomTaxId" />
                        <a href="#" id="@VEPPL" data-toggle="modal" style="display:none" data-target="@divref">View Details</a>
                        @Html.HiddenFor(m => jsonDataId, new { @id = jsonDataId })
                    </td>
                    @if (isCancelled)
                    {
                        <td width="16%" align="right" valign="middle"></td>
                    }
                    else
                    {
                        <td width="16%" align="right" valign="middle"><i onclick="CancellRoom(this);" title="Cancell Room" style="cursor:pointer !important" class="fa fa-trash-o"></i></td>
                    }

                </tr>
                i++;
            }

        }


    </tbody>
</table>


@if (ViewBag.ENOR != null)
{
    for (int i = 1; i <= ViewBag.ENOR; i++)
    {
        var divName = "ViewEditPerDayPrice" + i;
        <div class="modal fade" id="@divName" role="dialog"><h2></h2></div>
    }
}


<script>
    $(document).ready(function () {
        for (i = 1; i <= Number(@ViewBag.ENOR); i++) {
            var RTSelType = "RTSelType" + i;
            var RoomTypeId = $('#' + RTSelType).attr("RoomTypeId");

            GetPriceOnPageLoad(i, RoomTypeId);


        }
        $("input").attr("autocomplete", "none");
        $(".ValidateInput").on("blur", function () {
            validateField(this);
        });
        amt = Number($("#totAmt").text());
        document.querySelectorAll("div[id^='ViewEditPerDayPrice']").forEach(function (d) {
            $(document.body).append($("#"+d.id).clone());
            $("#"+d.id).remove();
        });
    });
    function divLoaded() {
        //
        var costing = Number(0);
        var totalTax = Number(0);
        $('#tblCosting').find("tr").each(function () {
            var currentRow = $(this);
            var hiddenField = $(this).find("input[type='hidden']").val();
            console.log("Tax Val: " + hiddenField)
            //if not empty push to array
            if (hiddenField != 'undefined' && hiddenField != null) {
                totalTax = totalTax + Number(hiddenField);
            }


            var col3 = currentRow.find("td:eq(3)").text();
            if (col3 != '') {
                //console.log("Value" + col3);
                costing = costing + Number(col3);
                //console.log("Costing"+costing);
            }



        });
        amt = costing;
        //console.log("Amount :" + amt);
        //console.log("Tax :" + totalTax);
        $("#hdnRoomCost").val(amt.toFixed(2));
        $("#hdnRoomTax").val(totalTax.toFixed(2));
        //var totalAmount = amt + totalTax;
        $("#totAmt").text(amt.toFixed(2));
        $("#taxVal").text(totalTax.toFixed(2));
        $("#totAmt").trigger('change');
        calculatePS();
        //

        //var TCFNID = "TotalCostForNights" + idn;
        //var currentCost = $("#" + TCFNID).val()
        //calcuteTotalandtaxes(currentCost, '+')

    };
    function calcuteTotalandtaxes(cc, opt) {
        if (opt == '+') {
            amt = Number(amt) + Number(cc);
        }
        else {
            amt = Number(amt) - Number(cc);
        }
        //console.log("Amount :" + amt);
        $("#hdnRoomCost").val(amt.toFixed(2));
        $("#totAmt").text(amt.toFixed(2));
        $("#totAmt").trigger('change');
    }
    function GetPriceOnPageLoad(idn, RoomTypeId) {
        var bookingId = $("#BookingId").val();
        var divId = "ViewEditPerDayPrice" + idn;
        var VeiwEditLink = "ViewEditPerDayPriceLink" + idn;
        //console.log(VeiwEditLink);

        var cin = $("#Addbookingdatepickerinn").val();
        var cout = $("#Addbookingdatepickerout").val();
        console.log(RoomTypeId + " c " + cin + " o  " + cout);
        if (RoomTypeId > 0) {
            const url = "/Home/_PricePerNightEditV2?RoomTypeId=" + RoomTypeId + "&cinDate=" + cin + "&coutDate=" + cout + "&refDiv=" + idn + "&bookingId=" + bookingId;
            $('#' + divId).addClass("divloader");
            console.log(url);
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    //console.log("Success......")
                    //console.log(data);
                    $('#' + divId).html(data);
                    //GetRoomsOnLoad(idn, RoomTypeId);

                }
            }).done(function () {
                setTimeout(function () {
                    $('#' + divId).removeClass("divloader");
                    $('#' + VeiwEditLink).css("display", "block");
                    $('#' + VeiwEditLink).show();
                    divLoaded();
                }, 500);

            });

        } else {
            var perRoomCostId = "totalPerRoomCost" + idn;
            var currSelectedCost = $("#" + perRoomCostId).text();
            //console.log(currSelectedCost);
            calcuteTotalandtaxes(currSelectedCost, '-');
            $("#" + perRoomCostId).text('');
        }


    }

    function CancellRoom(rr) {
        //console.log("Room Name " + $(rr).closest("tr").find("input[id^='RTSelType']").val());
        $(rr).closest("tr").find("input[id^='RTSelType']").val($(rr).closest("tr").find("input[id^='RTSelType']").val() + " - Cancelled");
        $(rr).closest("tr").find("input[id^='totalPerRoomOfferPriceId']").val(0.00);
        var canRTName = $(rr).closest("tr").find("input[id^='RTSelType']").val();
        var n = $(rr).closest("tr").find("input[id^='totalPerRoomOfferPriceId']").attr("id").slice(-1);
        var tableId = "TableId" + n;
        for (k = 1; k <=  Number(@ViewBag.ENOR); k++) {
            var txtId = "txtDay" + k + "" + tableId;
            var perDayCost = "0.00";// /nor;
            $('#' + txtId).val(perDayCost);
            $('#' + txtId).attr("value", "0.00");
            $('#' + txtId).attr("taxVal", "0.00");
            $('#' + txtId).attr("RTName", canRTName);
            var TaxAmountId = "TaxAmountId" + k + "" + tableId;
            var AmtWithTaxId = "AmtWithTaxId" + k + "" + tableId;

            $('#' + txtId).keyup();
        }


        updateTotalCost(n);
    }
</script>







