@model HotelBooking.Model.SPM




@using (Html.BeginForm("SaveSpecialPrice", "Home", FormMethod.Post, new { id = "msform" }))
{

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left table-responsive">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left" style="margin-top: 15px;">



                @Html.HiddenFor(model => model.SpecialPriceManageId)
                @Html.HiddenFor(model => model.RoomTypeId1)
                @Html.HiddenFor(model => model.RoomTypeTitle1)
                @Html.HiddenFor(model => model.BranchId1)
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 col-xs-12 pull-left">
                    <label for="edit-mail" class="form-required">Title</label>

                    @Html.TextBoxFor(model => model.Title1, new { @class = "full-width", placeholder = "Title" })
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 col-xs-12 pull-left">
                    <label for="edit-mail" class="form-required">&nbsp;</label>

                    <ul class="unstyled">
                        <li>
                            <input class="styled-checkbox" id="CHK_CP1" type="checkbox" name="CHK_CP1">
                            <label for="CHK_CP1">Copy to All</label>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 col-xs-12 pull-left">
                    <label for="edit-mail" class="form-required">Date Range</label>
                    <input type="datetime-local" id="dtrStart" class="full-width" name="daytime">

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 col-xs-12 pull-left">
                    <label for="edit-mail" class="form-required">Date Range</label>
                    <input type="datetime-local" id="dtrEnd" class="full-width" name="daytime">

                </div>
                @Html.HiddenFor(model => model.DateRangeFrom)
                @Html.HiddenFor(model => model.DateRangeTo)
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                <div class="col-lg-2 col-md-2 col-sm-6 col-12 col-xs-12 pull-left">
                    <label for="edit-mail" class="form-required">Mon</label>

                    @Html.TextBoxFor(model => model.MON1, new { @class = "full-width", id = "MON1", Name = "MON1" })
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-12 col-xs-12 pull-left">
                    <label for="edit-mail" class="form-required">Tue</label>
                    @Html.TextBoxFor(model => model.TUE1, new { @class = "full-width", id = "TUE1", Name = "TUE1" })
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-12 col-xs-12 pull-left">
                    <label for="edit-mail" class="form-required">Wed</label>
                    @Html.TextBoxFor(model => model.WED1, new { @class = "full-width", id = "WED1", Name = "WED1" })
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-12 col-xs-12 pull-left">
                    <label for="edit-mail" class="form-required">Thu</label>
                    @Html.TextBoxFor(model => model.THUR1, new { @class = "full-width", id = "THUR1", Name = "THUR1" })
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-12 col-xs-12 pull-left">
                    <label for="edit-mail" class="form-required">Fri</label>
                    @Html.TextBoxFor(model => model.FRI1, new { @class = "full-width", id = "FRI1", Name = "FRI1" })
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-12 col-xs-12 pull-left">
                    <label for="edit-mail" class="form-required">Sat</label>
                    @Html.TextBoxFor(model => model.SAT1, new { @class = "full-width", id = "SAT1", Name = "SAT1" })
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                <div class="col-lg-2 col-md-2 col-sm-6 col-12 col-xs-12 pull-left">
                    <label for="edit-mail" class="form-required">San</label>
                    @Html.TextBoxFor(model => model.SUN1, new { @class = "full-width", id = "SUN1", Name = "SUN1" })
                </div>
            </div>


        </div>
        <input type="submit" name="SUBMIT" class="prev action-button" onclick="return setData()" value="Save">

        <div class="tab-pane active" id="SpclpriceGrid" aria-expanded="true">
           
        </div>
    </div>

}

<script>

        function setData() {
            var rtnVal = true;
                var id = $("#RoomType").val();
                const rtName = $("#RoomType option:selected").text().replace(/[\n\r]+/g, ' ').trim();
                $("#RoomTypeId1").val(id);
                $("#RoomTypeTitle1").val(rtName);
               
            var dtStart = $("#dtrStart").val();
            var dtEnd = $("#dtrEnd").val();
           
            $("#DateRangeFrom").val(dtStart.substr(0, 10));
            $("#DateRangeTo").val(dtEnd.substr(0, 10));
           
            if (id <= 0) { $("#RoomType").focus(); rtnVal=false; }

            $('input[type=text]').each(function () {
                var $item = this.name;
                console.log($item)
                if ($item.indexOf('1') >= 0) {
                    var val = $('#' + this.name).val();
                    console.log(val);
                    if (val == '') { rtnVal = false; }
                }
                   


                });

                return rtnVal;
            }
    $(document).ready(function () {
        $("#SpclpriceGrid").load("/Home/_SpecialPriceGrid");
            $("#CHK_CP1").click(function () {
                if ($("#CHK_CP1").is(':checked')) {
                    var mondayValue = '';
                    $('input[type=text]').each(function () {
                        console.log(this.name);
                        if (this.name == "MON1") {

                            if ($("#MON1").val() != '') {
                                mondayValue = $("#MON1").val();
                            }


                        } else {
                            if (this.name == "Title1") {
                                console.log(this.name);


                            }else
                            $('#' + this.name).val(mondayValue);

                        }
                    });

                } else {
                    $('input[type=text]').each(function () {

                        switch (this.name) {
                            case 'MON1' :
                            break;
                            case 'Title1' :
                                break;
                            default:
                                $('#' + this.name).val('');
                        }


                    });

                }
            });

        });
</script>
