@model HotelBooking.Model.SPM




@using (Html.BeginForm("SaveSpecialPrice", "Home", FormMethod.Post, new { id = "msform" }))
{

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left table-responsive">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left" style="margin-top: 15px;">



                @Html.HiddenFor(model => model.SpecialPriceManageId)
                @Html.HiddenFor(model => model.RoomTypeId1)
                @Html.HiddenFor(model => model.RoomTypeTitle1)
                @Html.HiddenFor(model => model.BranchId1)
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 col-xs-12 pull-left">
                    <label for="edit-mail" class="form-required">Title</label>

                    @Html.TextBoxFor(model => model.Title1, new { @class = "full-width ValidateInput", placeholder = "Title", maxlength = "50" })
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 col-xs-12 pull-left">
                    <label for="edit-mail" class="form-required">&nbsp;</label>

                    <ul class="unstyled">
                        <li>
                            <input class="styled-checkbox" id="CHK_CP1" type="checkbox" name="CHK_CP1">
                            <label for="CHK_CP1">Copy to All</label>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 col-xs-12 pull-left">
                    <label for="edit-mail" class="form-required">Date Range</label>
                   
                    <input type="text" id="dtrStart" name="dtrStart" class="full-width allinputgo" placeholder="RangeStart" autocomplete="off">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 col-xs-12 pull-left">
                    <label for="edit-mail" class="form-required">Date Range</label>
                  
                    <input type="text" id="dtrEnd" name="dtrEnd" class="full-width allinputgo" placeholder="RangeEnd" autocomplete="off">

                </div>
                @Html.HiddenFor(model => model.DateRangeFrom)
                @Html.HiddenFor(model => model.DateRangeTo)
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                <div class="col-lg-2 col-md-2 col-sm-6 col-12 col-xs-12 pull-left">
                    <label for="edit-mail" class="form-required">Mon</label>

                    @Html.TextBoxFor(model => model.MON1, new { @class = "full-width ValidateInput", id = "MON1", Name = "MON1", maxlength = "7", ValType = "NumbersOnly" })
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-12 col-xs-12 pull-left">
                    <label for="edit-mail" class="form-required">Tue</label>
                    @Html.TextBoxFor(model => model.TUE1, new { @class = "full-width ValidateInput", id = "TUE1", Name = "TUE1", maxlength = "7", ValType = "NumbersOnly" })
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-12 col-xs-12 pull-left">
                    <label for="edit-mail" class="form-required">Wed</label>
                    @Html.TextBoxFor(model => model.WED1, new { @class = "full-width ValidateInput", id = "WED1", Name = "WED1", maxlength = "7", ValType = "NumbersOnly" })
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-12 col-xs-12 pull-left">
                    <label for="edit-mail" class="form-required">Thu</label>
                    @Html.TextBoxFor(model => model.THUR1, new { @class = "full-width ValidateInput", id = "THUR1", Name = "THUR1", maxlength = "7", ValType = "NumbersOnly" })
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-12 col-xs-12 pull-left">
                    <label for="edit-mail" class="form-required">Fri</label>
                    @Html.TextBoxFor(model => model.FRI1, new { @class = "full-width ValidateInput", id = "FRI1", Name = "FRI1", maxlength = "7", ValType = "NumbersOnly" })
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-12 col-xs-12 pull-left">
                    <label for="edit-mail" class="form-required">Sat</label>
                    @Html.TextBoxFor(model => model.SAT1, new { @class = "full-width ValidateInput", id = "SAT1", Name = "SAT1", maxlength = "7", ValType = "NumbersOnly" })
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                <div class="col-lg-2 col-md-2 col-sm-6 col-12 col-xs-12 pull-left">
                    <label for="edit-mail" class="form-required">Sun</label>
                    @Html.TextBoxFor(model => model.SUN1, new { @class = "full-width ValidateInput", id = "SUN1", Name = "SUN1", maxlength = "7", ValType = "NumbersOnly" })
                </div>
            </div>


        </div>
        <input type="submit" name="SUBMIT" class="prev action-button" onclick="return setData()" value="Save">

        <div class="tab-pane active" id="SpclpriceGrid" aria-expanded="true">
           
        </div>
    </div>

}

<script>

    function setData() {
        
            var rtnVal = true;
            var id = $("#RoomType").val();
            const rtName = $("#RoomType option:selected").text().replace(/[\n\r]+/g, ' ').trim();
            $("#RoomTypeId1").val(id);
            $("#RoomTypeTitle1").val(rtName);

            var dtStart = $("#dtrStart").val();
            var dtEnd = $("#dtrEnd").val();

        $("#DateRangeFrom").val(dtStart);
        $("#DateRangeTo").val(dtEnd);

            if (id <= 0) { $("#RoomType").focus(); rtnVal = false; }

            $('input[type=text]').each(function () {
                var $item = this.name;
                console.log($item)
                if ($item.indexOf('1') >= 0) {
                    var val = $('#' + this.name).val();
                    console.log(val);
                    if (val == '') { rtnVal = false; }
                }



            });

            return rtnVal;
        
   }
    $(document).ready(function () {
        $("input").attr("autocomplete", "none");
        $(".ValidateInput").on("blur", function () {
            validateField(this);
        });
        var id = $("#RoomType").val();
        console.log("RoomType id" + id);
        $("#dtrStart").datepicker({
            dateFormat: "mm-dd-yy",
            duration: "fast",
            minDate: 0,
            disabledDates: [new Date()],
            onSelect: function (selected) {
                var minDate = $(this).datepicker('getDate');
                minDate.setDate(minDate.getDate() + 1); //add one day
                $('#dtrEnd').datepicker('option', 'minDate', minDate);
            }
        });
        $("#dtrEnd").datepicker({
            dateFormat: "mm-dd-yy"
            , duration: "fast"
        });
        $("#SpclpriceGrid").load("/Home/_SpecialPriceGrid?RoomTypeid="+id);
            $("#CHK_CP1").click(function () {
                if ($("#CHK_CP1").is(':checked')) {
                    var mondayValue = '';
                    $('input[type=text]').each(function () {
                        console.log(this.name);
                        if (this.id == "MON1") {

                            if ($("#MON1").val() != '') {
                                mondayValue = $("#MON1").val();
                            }


                        } else {
                            if (this.id == "Title1" || this.id == "dtrStart" || this.id == "dtrEnd"  ) {
                                console.log(this.name);


                            } else {
                                $('#' + this.id).val(mondayValue);
                            }
                            

                        }
                    });

                } else {
                    $('input[type=text]').each(function () {

                        switch (this.id) {
                            case 'MON1' :
                            break;
                            case 'Title1':
                            break;
                            case 'dtrStart':
                            break;
                            case 'dtrEnd':
                            break;
                            default:
                                $('#' + this.id).val('');
                        }


                    });

                }
            });

        });
</script>
