@using PagedList.Mvc
@model PagedList.IPagedList<HotelBooking.Model.SPM>
<div class="row">
    <hr>

    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 table-responsive">
        
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th width="3%" align="center" valign="middle" bgcolor="#003556" class="clrwhit"><a href="#">#</a></th>

                    <th width="10%" align="left" valign="middle" bgcolor="#003556" class="clrwhit"><a href="#">Title</a></th>
                    <th width="10%" align="left" valign="middle" bgcolor="#003556" class="clrwhit"><a href="#">Date From</a></th>
                    <th width="10%" align="left" valign="middle" bgcolor="#003556" class="clrwhit"><a href="#">Date To</a></th>
                    <th width="10%" align="center" valign="middle" bgcolor="#003556" class="clrwhit"><a href="#">Mon</a></th>
                    <th width="10%" align="center" valign="middle" bgcolor="#003556" class="clrwhit"><a href="#">Tue</a></th>
                    <th width="10%" align="center" valign="middle" bgcolor="#003556" class="clrwhit"><a href="#">Wed</a></th>
                    <th width="10%" align="center" valign="middle" bgcolor="#003556" class="clrwhit"><a href="#">Thu</a></th>
                    <th width="10%" align="center" valign="middle" bgcolor="#003556" class="clrwhit"><a href="#">Fri</a></th>
                    <th width="10%" align="center" valign="middle" bgcolor="#003556" class="clrwhit"><a href="#">Sat</a></th>
                    <th width="10%" align="center" valign="middle" bgcolor="#003556" class="clrwhit"><a href="#">Sun</a></th>
                    <th width="5%" align="center" valign="middle" bgcolor="#003556" class="clrwhit"><a href="#">Action</a></th>
                </tr>

                @if (Model != null)
                {
                    var i = 1;
                    foreach (var ps in Model)
                    {

                        <tr>
                            <td align="center" valign="middle">@i</td>
                            <td align="left" valign="middle">@ps.Title1</td>
                            <td align="left" valign="middle">@ps.DateRangeFrom</td>
                            <td align="left" valign="middle">@ps.DateRangeTo</td>
                            <td align="left" valign="middle">@ps.MON1</td>
                            <td align="left" valign="middle">@ps.TUE1</td>
                            <td align="left" valign="middle">@ps.WED1</td>
                            <td align="left" valign="middle">@ps.THUR1</td>
                            <td align="left" valign="middle">@ps.FRI1</td>
                            <td align="left" valign="middle">@ps.SAT1</td>
                            <td align="left" valign="middle">@ps.SUN1</td>
                            <td align="left" valign="middle"><a href="#" onclick="removeSpclPrice('@ps.SpecialPriceManageId');" class="closebtn deletebtn"><i class="fa fa-trash-o"></i></a></td>
                        </tr>
                        i++;
                    }
                }
               
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
        $("#pSize").change(function () {
           

            $("#form1").submit();
        });
    function removeSpclPrice(pId) {
        var pData = {
            SpclPriceManageId:Number(pId)
        }
        fetch('/Home/DelSpclPrice', {
            method: 'POST',
           
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(pData)
        })
          
            .then(() => {
                //console.log(response.json)
                $.toast({
                    heading: 'Success',
                    text: ' Special price deleted ',
                    icon: 'success',
                    loader: false,        // Change it to false to disable loader
                    position: 'top-right',
                    loaderBg: '#9EC600'  // To change the background
                });
                $("#specialpriceLink").click();

            })
            .catch(error => {
                $.toast({
                    autoDismiss: true,
                    heading: 'Error',
                    text: 'Error on Delete',
                    icon: 'warning',
                    position: 'top-right',
                    loader: false,        // Change it to false to disable loader
                    loaderBg: '#9EC600'  // To change the background
                });
            });
    }
</script> 