@model HotelBooking.Model.Guests
@{
    ViewBag.Title = "AddGuest";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card widget-container">
            <div class="heading"> <i class="fa fa-address-card" aria-hidden="true"></i> Add Guest</div>
            <div class="widget-content padded text-center">

                @using (Html.BeginForm("SaveGuest", "Home", FormMethod.Post, new { id = "msform", enctype = "multipart/form-data" }))
                {
                    <div class="row">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 col-xs-12 pull-left">
                                <label for="edit-mail" class="form-required"> Name</label>
                                @Html.TextBoxFor(m => m.Name, new { @class = "full-width ValidateInput", placeholder = "Guest Name", maxlength = "100" })

                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 col-xs-12 pull-left">
                                <label for="edit-mail" class="form-required">Address</label>

                                @Html.TextBoxFor(m => m.Address, new { @class = "full-width", placeholder = "Guest Address", maxlength = "200" })
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 col-xs-12 pull-left">
                                <label for="edit-mail" class="form-required">City </label>

                                @Html.TextBoxFor(m => m.city, new { @class = "full-width ValidateInput", placeholder = "Guest City", maxlength = "50" })
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 col-xs-12 pull-left">
                                <label for="edit-mail" class="form-required">Pincode</label>

                                @Html.TextBoxFor(m => m.pincode, new { @class = "full-width ValidateInput", placeholder = "Guest's city Pincode", maxlength = "10" })
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 col-xs-12 pull-left">
                                <label for="edit-mail" class="form-required">Country</label>
                                <select id="SelCountry" class="form-required full-width ValidateInput" required name="SelCountry" valType="DropDown">
                                    @if (ViewBag.StaticCountry != null)
                                    {
                                        foreach (var item in ViewBag.StaticCountry)
                                        {
                                            if (item.Text != null)
                                            {
                                                <option value="@item.Value" selected="@item.Selected"   >
                                                    @item.Text
                                                </option>

                                            }
                                        }
                                    }
                                </select>

                                @Html.HiddenFor(model => model.country)
                                @Html.HiddenFor(model => model.isActive)
                                @Html.HiddenFor(model => model.GuestId)
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 col-xs-12 pull-left">
                                <label for="edit-mail" class="form-required">Email</label>

                                @Html.TextBoxFor(m => m.email, new { @class = "full-width ValidateInput", placeholder = "Guest's  Email", valType = "Email", maxlength = "100" })
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 col-xs-12 pull-left">
                                <label for="edit-mail" class="form-required">Phone Number</label>
                                

                                        @Html.TextBoxFor(m => m.Phone, new { @class = "checkoutinput full-width ValidateInput", placeholder = "Guest Phone Number", valType="Phone", maxlength = "15" })
                                    
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-left">
                                <label for="edit-mail" class="form-required">&nbsp;</label>

                                <ul class="unstyled">
                                    <li>
                                        <input class="styled-checkbox" id="CHK_ACTIVE" type="checkbox" checked="@Model.isActive" name="CHK_ACTIVE">
                                        <label for="CHK_ACTIVE">Active</label>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <input type="submit" name="prev" id="btnAddGuest" class="prev action-button" onclick="return setData();" value="SAVE" runat="server">
                }

            </div>
        </div>
    </div>
</div>
<script>
    

    function setData() {
        if (!validateBooking()) {
            return false; // Prevent form submission if validation fails
        } else {
            $("#country").val($("#SelCountry option:selected").val());
            $('input[type=checkbox]').each(function () {


                if (this.name == "CHK_ACTIVE") {
                    $('#isActive').val(this.checked);

                }
            });

        }
        
    }
    $(document).ready(function () {
        $("input").attr("autocomplete", "none");
        $(".ValidateInput").on("blur", function () {
            validateField(this);
        });
        var urlParams = new URLSearchParams(window.location.search);
        console.log(urlParams.has('m')); // true
        console.log(urlParams.get('m')); // "edit"
        var mode = urlParams.get('m');
        if (mode == "V") {
            $('#msform :input').prop("disabled", true);
            
        }
    });

   

</script>

