@model HotelBooking.Model.PaidServices
@{
    ViewBag.Title = "Add Paid Services";
}
<body>
    <div class="row" id="Addpaidservices" style="display: block;">
        <div class="col-sm-12">
            <div class="card widget-container">
                <div class="heading"> <i class="fa fa-bar-chart-o"></i> Paid Services Form</div>
                <div class="widget-content padded text-center">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 table-responsive pull-left">
                            @using (Html.BeginForm("SavePaidServices", "Home", FormMethod.Post, new { id = "msform" }))
                            {

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                                    <label for="edit-mail" class="form-required">Title</label>

                                    @Html.TextBoxFor(model => model.Title, new { @class = "full-width", placeholder = "Title" })
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left p-0">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-left">
                                        <label for="edit-mail" class="form-required">Room Types</label>
                                        <select id="RoomType" multiple="multiple" required=required name="RoomType">
                                            @if (ViewBag.RTComboModel != null)
                                            {
                                                foreach (var item in ViewBag.RTComboModel)
                                                {
                                                    if (item.Text != null)
                                                    {
                                                        <option value="@item.Value">
                                                            @item.Text
                                                        </option>

                                                    }
                                                }
                                            }
                                        </select>
                                        @Html.HiddenFor(model => model.RoomTypeId);

                                    </div>

                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                                    <label for="edit-mail" class="form-required">Price Type</label>

                                    @Html.DropDownList("PriceTypeModel")
                                    @Html.HiddenFor(model => model.PriceTypeId);
                                    @Html.HiddenFor(model => model.PriceType);
                                    @Html.HiddenFor(model => model.BranchId);
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                                    <label for="edit-mail" class="form-required">Price</label>

                                    @Html.TextBoxFor(model => model.Price, new { @class = "full-width", placeholder = "Price" })
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                                    <label for="edit-mail" class="form-required">Status</label>
                                    <ul class="unstyled">
                                        <li>
                                            <input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" value="@Model.isActive" checked="@Model.isActive">

                                            <label for="styled-checkbox-2">Active</label>
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                                    <label for="edit-mail" class="form-required">Discription</label>
                                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                                    <label for="edit-mail" class="form-required">Short Discription</label>
                                    @Html.TextBoxFor(model => model.ShortDescription, new { @class = "form-control" })

                                </div>
                                <input type="submit" name="SUBMIT" class="prev action-button" onclick="addDatatoModel();" value="Save" runat="server">
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script>
        function addDatatoModel() {
            $("#PriceTypeId").val($("#PriceTypeModel").val());
            $("#PriceType").val($("#PriceTypeModel option:selected").text());

            $("#RoomTypeId").val($("#RoomType").val());

        }
    </script>

</body>