@model HotelBooking.Model.Room
@{
    ViewBag.Title = "AddRoom";
}

<div class="row" id="Roomform">
    <div class="col-sm-12">
        <div class="card widget-container">
            <div class="heading"> <i class="fa fa-bar-chart-o"></i> Room Form</div>
            <div class="widget-content padded text-center">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 table-responsive pull-left">
                        <form id="msform" runat="server" action="ProvisionGDSInfo.html" method="get" style=" margin:0px auto;">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-left">
                                <label for="edit-mail" class="form-required">Floor</label>
                                @Html.DropDownList("FloorComboModel")
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 pull-left">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pull-left">
                                    <label for="edit-mail" class="form-required">Room Type</label>
                                    @Html.DropDownList("RTComboModel")
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pull-left">
                                    <label for="edit-mail" class="form-required">Room Number</label>
                                    @Html.TextBox("RoomNumber", null, new { @class = "full-width", @data_val = "true", @data_val_required = "Room Number is required" })
                                </div>

                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 pull-left">
                                    <label for="edit-mail" class="form-required">&nbsp;</label>
                                    <input type="button" name="AddMore" id="btnAddItem" onclick="addItem();" class="full-width prev Addmorebtn" value="Add More" runat="server">
                                </div>
                                @Html.HiddenFor(model => model.BranchId)
                            </div>
                            <div id="dynDivContainer" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 pull-left">
                                <div id="ItemDIV1" class="divclass" style="display:none" data-order="0">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pull-left">
                                        <label for="edit-mail" class="form-required">Room Type</label>
                                        @Html.DropDownList("RTComboModel", null, new { @id = "RTComboModel1" })
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pull-left">
                                        <label for="edit-mail" class="form-required">Room Number</label>
                                        @Html.TextBox("RoomNumber", null, new { @class = "full-width", id= "RoomNumber1", @data_val = "true", @data_val_required = "Room Number is required" })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 pull-left">
                                        <label for="edit-mail" class="form-required">&nbsp;</label>
                                        <input type="button" name="SUBMIT" id="btnRemoveItem" class="full-width prev removebtn" onclick="RemoveItem(this);" value="Remove" runat="server">
                                    </div>
                                </div>
                                <div id="ItemDIV2" class="divclass" style="display:none" data-order="1">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pull-left">
                                        <label for="edit-mail" class="form-required">Room Type</label>
                                        @Html.DropDownList("RTComboModel",null, new { @id = "RTComboModel2" })
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pull-left">
                                        <label for="edit-mail" class="form-required">Room Number</label>
                                        @Html.TextBox("RoomNumber", null, new { @class = "full-width", @data_val = "true", id = "RoomNumber2", @data_val_required = "Room Number is required" })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 pull-left">
                                        <label for="edit-mail" class="form-required">&nbsp;</label>
                                        <input type="button" name="SUBMIT" id="btnRemoveItem" class="full-width prev removebtn" onclick="RemoveItem(this);" value="Remove" runat="server">
                                    </div>
                                </div>
                                <div id="ItemDIV3" class="divclass" style="display:none" data-order="2">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pull-left">
                                        <label for="edit-mail" class="form-required">Room Type</label>
                                        @Html.DropDownList("RTComboModel", null, new { @id = "RTComboModel3" })
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pull-left">
                                        <label for="edit-mail" class="form-required">Room Number</label>
                                        @Html.TextBox("RoomNumber", null, new { @class = "full-width", @data_val = "true", id = "RoomNumber3", @data_val_required = "Room Number is required" })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 pull-left">
                                        <label for="edit-mail" class="form-required">&nbsp;</label>
                                        <input type="button" name="SUBMIT" id="btnRemoveItem" class="full-width prev removebtn" onclick="RemoveItem(this);" value="Remove" runat="server">
                                    </div>
                                </div>
                                <div id="ItemDIV4" class="divclass" style="display:none" data-order="3">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pull-left">
                                        <label for="edit-mail" class="form-required">Room Type</label>
                                        @Html.DropDownList("RTComboModel", null, new { @id = "RTComboModel4" })
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pull-left">
                                        <label for="edit-mail" class="form-required">Room Number</label>
                                        @Html.TextBox("RoomNumber", null, new { @class = "full-width", @data_val = "true", id = "RoomNumber4", @data_val_required = "Room Number is required" })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 pull-left">
                                        <label for="edit-mail" class="form-required">&nbsp;</label>
                                        <input type="button" name="SUBMIT" id="btnRemoveItem" class="full-width prev removebtn" onclick="RemoveItem(this);" value="Remove" runat="server">
                                    </div>
                                </div>
                                <div id="ItemDIV5" class="divclass" style="display:none" data-order="4">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pull-left">
                                        <label for="edit-mail" class="form-required">Room Type</label>
                                        @Html.DropDownList("RTComboModel", null, new { @id = "RTComboModel5" })
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pull-left">
                                        <label for="edit-mail" class="form-required">Room Number</label>
                                        @Html.TextBox("RoomNumber", null, new { @class = "full-width", @data_val = "true", id = "RoomNumber5", @data_val_required = "Room Number is required" })
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 pull-left">
                                        <label for="edit-mail" class="form-required">&nbsp;</label>
                                        <input type="button" name="SUBMIT" id="btnRemoveItem" class="full-width prev removebtn" onclick="RemoveItem(this);" value="Remove" runat="server">
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                                <input type="button" name="SUBMIT" class="prev action-button pull-right" onclick="SaveRoom();" value="Save" runat="server">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>


    var i = 0;
    function addItem() {

        var itemIndex = $(".divclass:visible").length;
        var n = parseInt(itemIndex) + 1;
        if (n > 5){ return; }
        console.log('sanjay'+n);
        var todsipalyDivId = 'ItemDIV' + n;
        console.log(todsipalyDivId);
        $('#'+todsipalyDivId).css('display', 'block');


        console.log(itemIndex);

        return false;

    }
    function RemoveItem($currentItem) {

       var  id = $($currentItem).parent().parent().attr('id');
        console.log(id);
        $('#'+id).css('display', 'none');
    }

    function SaveRoom() {
        var RoomData = [];
        const branchid = $('#BranchId').val();
        console.log(branchid);
        const rmNo = $('#RoomNumber').val();
        const rmdata = $('#RTComboModel').find(":selected").val();
        var rmArr = rmdata.split('~');
        var rtId = rmArr[0];
        var rtTypeName = rmArr[1];
        console.log(rmNo);
        const flId = $('#FloorComboModel').find(":selected").val();
        var seltext = $('#FloorComboModel').find(":selected").text();
        var arr = seltext.split('-');
        var flNo = arr[0];
        var floorName = arr[1];


        console.log(flId + "   " + flNo + "  " + floorName);
        var item = {
            Roomid:0,
            Branchid: branchid,
            floor: flId,
            floorName: floorName,
            RoomNumber: rmNo,
            RoomTypeId: rtId,
            RoomTypeName: rtTypeName
        };

        RoomData.push(item);

        if ($('#ItemDIV1').is(":visible")) {
            const rmNo1 = $('#RoomNumber1').val();
            const rmdata1 = $('#RTComboModel1').find(":selected").val();
            var rmArr1 = rmdata1.split('~');
            var rtId1 = rmArr1[0];
            var rtTypeName1 = rmArr1[1];
            var item1 = {
                Roomid: 0,
                Branchid: branchid,
                floor: flId,
                floorName: floorName,
                RoomNumber: rmNo1,
                RoomTypeId: rtId1,
                RoomTypeName: rtTypeName1
            };
            RoomData.push(item1);
        }
        if ($('#ItemDIV2').is(":visible")) {
            const rmNo1 = $('#RoomNumber2').val();
            const rmdata1 = $('#RTComboModel2').find(":selected").val();
            var rmArr1 = rmdata1.split('~');
            var rtId1 = rmArr1[0];
            var rtTypeName1 = rmArr[1];
            var item1 = {
                Roomid: 0,
                Branchid: branchid,
                floor: flId,
                floorName: floorName,
                RoomNumber: rmNo1,
                RoomTypeId: rtId1,
                RoomTypeName: rtTypeName1
            };
            RoomData.push(item1);
        }
        if ($('#ItemDIV3').is(":visible")) {
            const rmNo1 = $('#RoomNumber3').val();
            const rmdata1 = $('#RTComboModel3').find(":selected").val();
            var rmArr1 = rmdata1.split('~');
            var rtId1 = rmArr1[0];
            var rtTypeName1 = rmArr1[1];
            var item1 = {
                Roomid: 0,
                Branchid: branchid,
                floor: flId,
                floorName: floorName,
                RoomNumber: rmNo1,
                RoomTypeId: rtId1,
                RoomTypeName: rtTypeName1
            };
            RoomData.push(item1);
        }
        if ($('#ItemDIV4').is(":visible")) {
            const rmNo1 = $('#RoomNumber4').val();
            const rmdata1 = $('#RTComboModel4').find(":selected").val();
            var rmArr1 = rmdata1.split('~');
            var rtId1 = rmArr1[0];
            var rtTypeName1 = rmArr1[1];
            var item1 = {
                Roomid: 0,
                Branchid: branchid,
                floor: flId,
                floorName: floorName,
                RoomNumber: rmNo1,
                RoomTypeId: rtId1,
                RoomTypeName: rtTypeName1
            };
            RoomData.push(item1);
        }
        if ($('#ItemDIV5').is(":visible")) {
            const rmNo1 = $('#RoomNumber5').val();
            const rmdata1 = $('#RTComboModel5').find(":selected").val();
            var rmArr1 = rmdata1.split('~');
            var rtId1 = rmArr1[0];
            var rtTypeName1 = rmArr1[1];
            var item1 = {
                Roomid: 0,
                Branchid: branchid,
                floor: flId,
                floorName: floorName,
                RoomNumber: rmNo1,
                RoomTypeId: rtId1,
                RoomTypeName: rtTypeName1
            };
            RoomData.push(item1);
        }

        console.log(RoomData);

        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveRoom", "Home")',
           
            data: { roomEntities: RoomData },
           
            success: function (recData) { console.log('Success'); window.location.href =  '/Home/Room/';  },
            error: function () { console.log('A error'); }
        });
    }

    var mapped = {};
    function recursiveEach($element) {

        $element.children().each(function () {
            var $currentElement = $(this);
            if ($currentElement.attr("id") != "ItemDIV") {
                return;
            }
            // Show element
            console.info($currentElement.attr("id"));
            // Show events handlers of current element
            var $inputElements = $currentElement.find('input, select').each(function () {
                console.log($(this).attr('name'));
                $p = $(this).parent;
                //console.log($currentElement.parent.attr("id"));
                if ($(this).attr('name') == "SUBMIT") {
                    $(this).setAttr('onClick','test()');
                }
                //mapped[$(this).attr('name')] = $(this).attr('value');
            });
            //console.info(inputElements);
            // Loop her children

            recursiveEach($currentElement);
        });
    }
</script>
