@model HotelBooking.Model.PaidServices
@{
    ViewBag.Title = "Add Paid Services";
}
<body>
    <div class="row" id="Addpaidservices" style="display: block;">
        <div class="col-sm-12">
            <div class="card widget-container">
                <div class="heading"> <i class="fa fa-bar-chart-o"></i> Add Services </div>
                <div class="widget-content padded text-center">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 table-responsive pull-left">
                            @using (Html.BeginForm("SaveServices", "Home", FormMethod.Post, new { id = "msform" }))
                            {

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                                    <label for="edit-mail" class="form-required">Title</label>

                                    @Html.TextBoxFor(model => model.Title, new { @class = "full-width", placeholder = "Title" })
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                                    <label for="edit-mail" class="form-required">Price Type</label>

                                    @Html.DropDownList("PriceTypeModel")
                                    @Html.HiddenFor(model => model.PriceTypeId);
                                    @Html.HiddenFor(model => model.PriceType);
                                    @Html.HiddenFor(model => model.BranchId);
                                    @Html.HiddenFor(model => model.PaidServiceId);
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                                    <label for="edit-mail" class="form-required">Price</label>

                                    @Html.TextBoxFor(model => model.Price, new { @class = "full-width", placeholder = "Price" })
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                                    <label for="edit-mail" class="form-required">Status</label>
                                    <ul class="unstyled">
                                        <li>
                                            <input class="styled-checkbox" id="styled-checkbox-2" name="CHK_ACTIVE" type="checkbox" checked="@Model.isActive">

                                            <label for="styled-checkbox-2">Active</label>
                                        </li>

                                    </ul>
                                    @Html.HiddenFor(model => model.IsTourItem);
                                    @Html.HiddenFor(model => model.isActive);
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                                    <label for="edit-mail" class="form-required">Discription</label>
                                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                                    <label for="edit-mail" class="form-required">Short Discription</label>
                                    @Html.TextAreaFor(model => model.ShortDescription, new { @class = "form-control" })

                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                                    <input type="submit" name="SUBMIT" class="prev action-button" onclick="addDatatoModel();" value="Save" runat="server">
                                 </div>
                             }
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>




    <script>
        function addDatatoModel() {
            $("#PriceTypeId").val($("#PriceTypeModel").val());
            $("#PriceType").val($("#PriceTypeModel option:selected").text());

            $("#RoomTypeId").val($("#RoomType").val());

            $('input[type=checkbox]').each(function () {


                if (this.name == "CHK_ACTIVE") {
                    $('#isActive').val(this.checked);

                }
            });

        }


    </script>

</body>