
@{
    ViewBag.Title = "BookTour";
}
<style>
    * {
        box-sizing: border-box;
    }

    body {
        font: 16px Arial;
    }

    .autocomplete {
        position: relative;
        display: inline-block;
    }

    input {
        border: 1px solid transparent;
        background-color: #f1f1f1;
        padding: 10px;
        font-size: 16px;
    }

        input[type=text] {
            background-color: #f1f1f1;
            width: 100%;
        }

        input[type=submit] {
            background-color: DodgerBlue;
            color: #fff;
            cursor: pointer;
        }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        top: 100%;
        left: 0;
        right: 0;
    }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

            .autocomplete-items div:hover {
                background-color: #e9e9e9;
            }

    .autocomplete-active {
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="card widget-container">
            <div class="heading"> <i class="fa fa-bar-chart-o"></i>Tour Booking <small>service</small> <span class="heading-right"><a href="index.html"><i class="fa fa-dashboard"></i> Dashboard</a> <small>&#58; Issue Item</small> </span></div>
            <div class="widget-content padded text-center">
                <form id="msform" runat="server" action="javascript:void(0)" method="get" style=" margin:0px auto;">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <label>Select Service</label>
                                    <input type="text" id="txtServiceName" class="dropbtn full-width ValidateInput" placeholder="Auto Fill With Paid Services" autocomplete="off" runat="server">
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                    <label>Qty</label>
                                    <input type="text" id="MtxtQty" class="full-width ValidateInput" valType="NumbersOnly" placeholder="QTY" runat="server" maxlength = "3">
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <label>Price</label>
                                    <input type="text" id="MtxtTotal" readonly="readonly" class="full-width" placeholder="Cost" runat="server">
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <label>Start Date</label>
                                    <input type="text" id="txtStartDate" class="full-width ValidateInput"  autocomplete="off" placeholder="Start Date" runat="server">
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <label>End Date</label>
                                    <input type="text" id="txtEndDate" class="full-width ValidateInput" autocomplete="off" placeholder="End Date" runat="server">
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <label>&nbsp;</label>
                                    <button type="submit" class="addbtnstore full-width" style="padding: 14px;" onclick="return addtoCart();">Add to Booking</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <label>Room #</label>
                                    <select name="SelRoomNumber" id="SelRoomNumber" class="full-width freetrial">
                                        @if (ViewBag.RMComboModel != null)
                                        {
                                            foreach (var item in ViewBag.RMComboModel)
                                            {
                                                if (item.Text != null)
                                                {
                                                    <option value="@item.Value" selected="@item.Selected">
                                                        @item.Text.Trim()
                                                    </option>

                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-lg-12 col-md-12 col-sm-12 table-responsive">
                            <table class="table table-bordered" id="SelectedServiceTable">
                                <thead>
                                    <tr style="background: #eaeeef;">
                                        <td colspan="13" align="left" valign="middle"><div class="allheadingin" style="padding: 5px;">Selected Services</div></td>
                                    </tr>
                                    <tr class="trthbgclr">

                                        <th class="text-center">Added Service</th>

                                        <th class="text-center">Qty.</th>
                                        <th class="text-center">Start Date.</th>
                                        <th class="text-center">End Date.</th>
                                        <th class="text-center">Item Total</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="text-right" colspan="4">Total Tax</td>
                                        <td class="text-center" style="font-weight:bold" id="txtTotalTax">xxx.xx</td>
                                        <td class="text-right">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right" colspan="4">Grand Total</td>
                                        <td class="text-center" style="font-weight:bold" id="txtTotalAmount">xxx.xx</td>
                                        <td class="text-right">&nbsp;</td>
                                    </tr>
                                </tfoot>
                            </table>

                            <input type="hidden" id="BranchId" value="@ViewBag.BranchId" />
                            <input type="hidden" id="BookingId" value="@ViewBag.BookingId" />
                           
                            <input type="hidden" id="hdnGuestId" value="0" />
                        </div>  

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12 pull-left">
                                    <div class="pull-left full-width" style="border: solid 1px #C0C0C0; padding: 10px 0px; ">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-left">
                                            <label>Guest Name</label>
                                            <input type="text" id="txtGuestName" class="full-width ValidateInputg" placeholder="Guest Name" runat="server" , maxlength = "100">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-left">
                                            <label>Phone No.</label>
                                            <input type="text" id="TxtGuestPhoneNumber" class="full-width ValidateInputg" placeholder="Phone No." valType="Phone" runat="server", maxlength = "15">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-left">
                                            <label>Email</label>
                                            <input type="text" id="TxtGuestEmail" class="full-width ValidateInputg" placeholder="Email" valType="Email" runat="server" , maxlength = "100">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-left">
                                            <label>Address</label>
                                            <input type="text" id="TxtGuestAddress" class="full-width" placeholder="Address" runat="server" , maxlength = "200">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-left">
                                            <label>City</label>
                                            <input type="text" id="TxtGuestCity" class="full-width ValidateInputg" placeholder="city" runat="server", maxlength = "50">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-left">
                                            <label>PinCode</label>
                                            <input type="text" id="TxtGuestPin" class="full-width ValidateInputg" valType="NumbersOnly" placeholder="Pincode" runat="server" , maxlength = "10">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-left">
                                            <label>Country</label>
                                            <select id="SelectGuestCountry" class="onlyinput full-width" runat="server">
                                                <option value="0" selected="selected">Select Country</option>
                                                <option >India</option>
                                                <option>Nepal</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-left">
                                            <label>ID Type</label>
                                            <select id="SelDoc" class="form-required full-width ValidateInputg" required name="SelDoc" valType="DropDown">
                                                @if (ViewBag.DocsComboModel != null)
                                                {
                                                    foreach (var item in ViewBag.DocsComboModel)
                                                    {
                                                        if (item.Text != null)
                                                        {
                                                            <option value="@item.Value" selected="@item.Selected">
                                                                @item.Text
                                                            </option>

                                                        }
                                                    }
                                                }
                                            </select>

                                            
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-left">
                                            <label>Upload ID #</label>
                                            <input type="file" id="fileGuestId" class="full-width" placeholder="ID card" runat="server">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="row">
                                
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="row gap-15">
                                        <div class="col-12 col-md-12">
                                            <div class="form-group">
                                                <label class="check-labeltitle">Payment Method</label>
                                                <input class="payment-radio-btn" id="PAYNOW" type="radio" aria-label="Pay Now" name="PaymentMethod" checked="checked" value="PayNow"> Pay Now
                                                <input class="payment-radio-btn" id="PAYLATER" type="radio" aria-label="Pay Later" name="PaymentMethod" value="PayLater"> Pay Later
                                            </div>

                                        </div>

                                    </div>
                                    <div style="border: solid 1px #C0C0C0; padding: 10px 0px;" id="payNowDiv">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label>Paid With</label>
                                            <select id="SelPaymentOption" class="onlyinput full-width" runat="server">
                                                <option value="NONE" selected="selected">Select Payment Options</option>
                                                <option value="CRCD">Credit Card</option>
                                                <option value="CHEQ">Cheque</option>
                                                <option value="CASH">Cash</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label>Card Details</label>
                                            <input type="text" id="TxtCCNumber" class="full-width" placeholder="Card Details" runat="server">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label>Auth Code</label>
                                            <input type="text" id="txtAuthCode" class="full-width" placeholder="Auth Code" runat="server">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label>Remarks</label>
                                            <input type="text" id="txtRemarks" class="full-width" placeholder="Auth Code" runat="server">
                                        </div>

                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;">
                                        <button type="button" class="allbtnin full-width" onclick=" return SaveTourBooking(this);">Book Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("input").attr("autocomplete", "none");
        $(".ValidateInput").on("blur", function () {
            validateField(this);
        });

        $(".ValidateInputg").on("blur", function () {
            validateField(this);
        });

        //set gyuest details when coming from booking
        var bkId = '@ViewBag.BookingId';
        if (bkId > 0) {
            var guestData = '@ViewBag.GuestDetail';
            var ArrGuest = guestData.split("|");
            $("#hdnGuestId").val(ArrGuest[0]);
            $("#txtGuestName").val(ArrGuest[1]);
            $("#TxtGuestPhoneNumber").val(ArrGuest[2]);
            $("#TxtGuestEmail").val(ArrGuest[3]);
            $("#TxtGuestAddress").val(ArrGuest[4]);
            $("#TxtGuestCity").val(ArrGuest[5]);
            $("#TxtGuestPin").val(ArrGuest[6]);
            $("#SelectGuestCountry option:selected").text(ArrGuest[7]);
        }
        //
        $('input:radio[name=PaymentMethod]').change(function () {

            if (this.value == 'PayNow') {
                $("#payNowDiv").show();
            }
            if (this.value == 'PayLater') {
                $("#payNowDiv").hide();
            }
        });
        getTourItems();
        $('#MtxtQty').on('keyup', function (event) {

            var keycode = (event.keyCode ? event.keyCode : event.which);

            var ArrVal = $('#txtServiceName').val();
            var ArrData = ArrVal.split("-");
            var rate = ArrData[1];
            var number = document.getElementById("MtxtQty").value;

            if (number != 0) {
                document.getElementById("MtxtTotal").value = Number(Number(number) * Number(rate)).toFixed(2);
            } else {
                document.getElementById("MtxtTotal").value = 0;
            }
        });
        $("#txtStartDate").datepicker({
            dateFormat: "mm-dd-yy",
            duration: "fast",
            minDate: 0,
            disabledDates: [new Date()],
            onSelect: function (selected) {
                var minDate = $(this).datepicker('getDate');
                minDate.setDate(minDate.getDate() ); //add one day
                $('#txtEndDate').datepicker('option', 'minDate', minDate);
                $("#txtStartDate").removeClass("errRedBorder");


            }
        });
        $("#txtEndDate").datepicker({
            dateFormat: "mm-dd-yy",
            duration: "fast",
            minDate: 0,
            disabledDates: [new Date()],
            onSelect: function (selected) {

                $("#txtStartDate").removeClass("errRedBorder");
                $("#txtEndDate").removeClass("errRedBorder");


            }

        });

        $('#SelRoomNumber').on('change', function () {
            if (this.value == '0-0') {
                $("#txtGuestName").val('');
                $("#TxtGuestPhoneNumber").val('');
                $("#TxtGuestEmail").val('');
                $("#TxtGuestAddress").val('');
                $("#TxtGuestCity").val('');
                $("#TxtGuestPin").val('');
                $("#hdnGuestId").val(0);
                $("#SelectGuestCountry option:selected").text('Select Country');
            }
            else {
                var ArrRM = this.value.split("-");
                var ArrGuest = ArrRM[2].split("|");
                $("#hdnGuestId").val(ArrGuest[0]);
                $("#txtGuestName").val(ArrGuest[1]);
                $("#TxtGuestPhoneNumber").val(ArrGuest[2]);
                $("#TxtGuestEmail").val(ArrGuest[3]);
                $("#TxtGuestAddress").val(ArrGuest[4]);
                $("#TxtGuestCity").val(ArrGuest[5]);
                $("#TxtGuestPin").val(ArrGuest[6]);
                $("#SelectGuestCountry option:selected").text(ArrGuest[7]);
            }
        })
    });

    var ServiceItemArray = [];

        function autocomplete(inp, arr) {
            var currentFocus;
            inp.addEventListener("input", function (e) {
                var a, b, i, val = this.value;
                closeAllLists();
                if (!val) { return false; }
                currentFocus = -1;
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                this.parentNode.appendChild(a);
                //console.log("Items ::" + MenuItemArray);
                for (i = 0; i < arr.length; i++) {

                    if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        var tmpArr = arr[i].split("~");
                        b = document.createElement("DIV");
                        b.innerHTML = "<strong>" + tmpArr[0].substr(0, val.length) + "</strong>";
                        b.innerHTML += tmpArr[0].substr(val.length);
                        var arrData = tmpArr[1].split("-");
                        b.innerHTML += "<input type='hidden' id='" + arrData[0] + "' value='" + tmpArr[0] + "'>";
                        b.innerHTML += "<input type='hidden' id='" + arrData[1] + "' value='" + arrData[1] + "'>";

                        b.addEventListener("click", function (e) {
                            inp.value = this.getElementsByTagName("input")[0].value;
                            inp.setAttribute("ServiceId", this.getElementsByTagName("input")[0].id);
                            inp.setAttribute("TaxP", this.getElementsByTagName("input")[1].id);

                            $("#MtxtQty").focus();
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });

            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    currentFocus++;
                    addActive(x);
                } else if (e.keyCode == 38) {
                    currentFocus--;
                    addActive(x);
                } else if (e.keyCode == 13) {
                    e.preventDefault();
                    if (currentFocus > -1) {
                        if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {
                if (!x) return false;
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }

    autocomplete(document.getElementById("txtServiceName"), ServiceItemArray);
     function getTourItems() {



             $.ajax({
             type: "GET",
             url: '@Url.Action("AutoCompleteForTourServices", "Home")',



                 success: function (recData) {
                     //MenuItemArray = JSON.stringify(recData);
                     console.log('Success Menu Item' + JSON.stringify(recData));
                     for (var i in recData) {
                         ServiceItemArray.push(recData[i]);
                     }
                     //console.log('Success Menu Item Arr' + MenuItemArray);
                  },
                  error: function () {

                      console.log('A error');
                  }
         });
     console.log("Item Loaded");
    }


    function addtoCart() {
        var divId;
        var itemName;
        var ItemQty;
        var ItemTotal;
        var TotalAmount;
        var startDate;
        var endDate;

        itemName = $("#txtServiceName").val();
        ItemQty = $("#MtxtQty").val();
        ItemTotal = $("#MtxtTotal").val();
        startDate = $("#txtStartDate").val();
        endDate = $("#txtEndDate").val();
        if (itemName == "") {
            $("#txtServiceName").addClass("errRedBorder");
            return false;
        }
        if (ItemQty == "") {
            $("#MtxtQty").addClass("errRedBorder");
            return false;
        }
        if (!checkNumberOnly(ItemQty)) {
            $("#MtxtQty").addClass("errRedBorder");
            return false;
        }
        if (startDate == "") {
            $("#txtStartDate").addClass("errRedBorder");
            return false;
        }
        if (endDate == "") {
            $("#txtEndDate").addClass("errRedBorder");
            return false;
        }
        $("#SelectedServiceTable").css("border", "0px");
        //var itmNo = Number($("#hdnItems").val()) + 1;
        var itmNo = $("#txtServiceName").attr('ServiceId');
        var ServiceItemId = "ServiceItem_" + itmNo;
        var TaxPercentage = $("#txtServiceName").attr('TaxP');
        //$("#billdetails").append('<div id="' + foodItemId + '" class="Subgroupmain"><input id="txtItemName" type="text" value="' + itemName + '"> <input id="txtQty" type="text" value="' + ItemQty + '"><input id="txtTotal" type="text" value="' + ItemTotal + '"></div>');


        var divHtml1 = '<tr class="active" id="' + ServiceItemId +'">';
        divHtml1 += '<td><a href="#" data-toggle="modal" data-target="#ItemNameDetails">' + itemName +'</a></td>';
        divHtml1 += '<td align="center" valign="middle">' + ItemQty + '</td>';
        divHtml1 += '<td align="center" valign="middle">' + startDate + '</td>';
        divHtml1 += '<td align="center" valign="middle">' + endDate + '</td>';
        divHtml1 += '<td align="center" valign="middle">' + ItemTotal + '<input type="hidden" id="' + TaxPercentage + '" value="' + TaxPercentage +'" /></td>';
        divHtml1 += '<td align="center" valign="middle"><a href="#" class="closebtn deletebtn" onClick="removeRow(this)"><i class="fa fa-trash-o"></i></a></td>';

        divHtml1 += '</tr>';

        $("#SelectedServiceTable").append(divHtml1);

        $("#hdnItems").val(itmNo);
        calculateTotal();
        $("#txtServiceName").val('');
        $("#MtxtQty").val('');
        $("#MtxtTotal").val('');
        $("#txtStartDate").val('');
        $("#txtEndDate").val('');
        $("#txtServiceName").focus();
    }
    function calculateTotal() {
        var totalAmount = 0;

        var taxAmount = 0;


        $("#SelectedServiceTable > tbody > tr").each(function () {
            var itemval = $(this).find('td').eq(4).text();// + " " + $(this).find('td').eq(1).text());
            var TP = $(this).find('input[type=hidden]').val();
            totalAmount = Number(totalAmount) + Number(itemval);
            taxAmount = Number(totalAmount) * Number(TP) / 100;
            //totalAmount = totalAmount + taxAmount;
            totalAmount = totalAmount;

        });


        $("#txtTotalAmount").text(Number(totalAmount).toFixed(2));
        $("#txtTotalTax").text(Number(taxAmount).toFixed(2));

    }
    function removeRow(rr) {
        $(rr).closest('tr').remove();
        calculateTotal();
    }

    function SaveTourBooking(btn) {

        var selectedServiceCount=$("#SelectedServiceTable>tbody tr").length;

        if (selectedServiceCount === 0) {
            alert(selectedServiceCount);
            $("#SelectedServiceTable").css("border", "2px solid red");
            return false;
        } else {
            $("#SelectedServiceTable").css("border", "0px");
        }
        if (!validateMyForm("ValidateInputg")) {
            return false; // Prevent form submission if validation fails
        } else {

            $("#SelectedServiceTable").css("border", "0px");


        $(btn).prop("disabled", true);
            const branchId = $("#BranchId").val();
            const hdnBookingId = $("#BookingId").val();
            var BookingId = 0;

        console.log("SAving Booking.....");
        const GuestName = $("#txtGuestName").val();
        const GuestPhone = $("#TxtGuestPhoneNumber").val();
        const GuestEmail = $("#TxtGuestEmail").val();
        const GuestAddress = $("#TxtGuestAddress").val();
        const GuestCity = $("#TxtGuestCity").val();
        const GuestPin = $("#TxtGuestPin").val();
        const GuestCountry = $("#SelectGuestCountry option:selected").val();
        const GuestID = $("#hdnGuestId").val();

        var ArrRM = $("#SelRoomNumber option:selected").val().split("-");
        const RoomNumber = $.trim($("#SelRoomNumber option:selected").text());

        const TotalAmount = $("#txtTotalAmount").text();
        const TotalTax = $("#txtTotalTax").text();
        const PayableAmount = $("#txtTotalAmount").text();
        const discount = "0.00";
        const couponCode = "XXXX";
            const couponAmount = "0.00";
            if (hdnBookingId > 0) {
                BookingId = hdnBookingId;
            } else {
                BookingId = ArrRM[1];
            }



        const SelectedServices = "";
        const BookingChannel = "BO-DC";
        const BookingStatus = "HL";
        var PaymentStatus = "Pending";

        const PaymentType = $("#SelPaymentOption option:selected").val();
        const rmks = $("#txtRemarks").val();
        const paymentdate = getFormattedDate(new Date());

        var stDate = $("#SelectedServiceTable > tbody tr:first").find('td').eq(2).text();
        var ndDate = $("#SelectedServiceTable > tbody tr:last").find('td').eq(3).text();
        var formData = new FormData();
        formData.append('imageFile', document.querySelector('#fileGuestId').files[0]);
        var isPayNow = $("#payNowDiv").is(':visible');
        var _TourPayment = '';
        if (isPayNow) {
            PaymentStatus = "Complete";
            _TourPayment = {
                BookingPaymentId: 0,
                BookingId: parseInt(BookingId),
                PaymentDate: paymentdate,
                InvoiceNumber: '',
                paymentAmount: parseFloat(TotalAmount).toFixed(2),
                paymentDue: 0,
                paymentReturn: 0,
                BranchId: parseInt(branchId),
                isActive: true,
                isDeleted: false,
                OrderNumber: '',
                PaymentType: 4,
                PaymentFor: 4,
                Table_Room_Number: RoomNumber,
                ServiceType: 'TOUR',
                PaymentTypeName: PaymentType,
                Remarks: rmks
            }

        }
        else {
            _TourPayment = ''
        }

        const TourBookingRwquest = {
            imageFile: formData,
            TourGuest: {
                Name: GuestName,
                GuestID: parseInt(GuestID),
                Phone: GuestPhone,
                email: GuestEmail,
                Address: GuestAddress,
                city: GuestCity,
                pincode: GuestPin,
                country: GuestCountry,
                BranchId: parseInt(branchId),
            },
            TourDetail: {
                TotalAmount: parseFloat(TotalAmount).toFixed(2),
                TotalTax: parseFloat(TotalTax).toFixed(2),
                isActive: true,
                branchId: parseInt(branchId),
                BookingId: parseInt(BookingId),
                StartDate: stDate,
                EndDate: ndDate,
                CouponCode: couponCode,
                CouponAmount: parseFloat(couponAmount).toFixed(2),
                Discount: parseFloat(discount).toFixed(2),
                RoomNumber: RoomNumber,
                SelectedServices: SelectedServices,
                BookingChannel: BookingChannel,
                BookingStatus: BookingStatus,
                PaymentStatus: PaymentStatus,
                PayableAmount: parseFloat(PayableAmount).toFixed(2)
            },
            TourPayment: _TourPayment,

            TourDetails: []
        };
        var selectedServices = "";
        ////
        $("#SelectedServiceTable > tbody > tr").each(function () {
            var trid = $(this).attr("id");
            var ArrIds = trid.split("_");
            var serviceId = ArrIds[1];
            selectedServices = selectedServices + serviceId + ",";
            console.log(trid + "   " + serviceId);
            var itemName = $(this).find('td').eq(0).text();
            var qty = $(this).find('td').eq(1).text();
            var sDate = $(this).find('td').eq(2).text();
            var eDate = $(this).find('td').eq(3).text();
            var tp = $(this).find('input[type=hidden]').val();
            var itemval = $(this).find('td').eq(4).text();// + " " + $(this).find('td').eq(1).text());
            var TaxAmount = Number(itemval) * Number(tp) / 100;
            itemval = Number(itemval) ;
            BookingCost = {
                BookingId: parseInt(BookingId),
                BookingCostId: parseInt(0),
                RoomTypeId: parseInt(serviceId),
                Description: itemName,
                Date: sDate,
                PerNightCost: Number(itemval / qty).toFixed(2),
                OfferPrice: itemval,
                CostCategory: 3,
                Qty: qty,
                Tax: tp,
                TaxAmount: TaxAmount
                //TaxAmount: parseFloat(parseFloat((parseFloat(item.OfferPrice) * (parseFloat(tpp))))).toFixed(2)
            }
            TourBookingRwquest.TourDetails.push(BookingCost);

        });


        selectedServices = selectedServices.replace(/,\s*$/, "");


        TourBookingRwquest.TourDetail.SelectedServices = selectedServices;




        console.log(TourBookingRwquest);
        console.log(JSON.stringify(TourBookingRwquest));
        ////

        fetch('/Home/SaveTourBooking', {
            method: 'POST',
            data: formData,
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(TourBookingRwquest)
        })
            //.then(response => response.json())
            .then(() => {
                //console.log(response.json)
                $.toast({
                    heading: 'Success',
                    text: ' Tour Booking Success ',
                    icon: 'success',
                    loader: false,        // Change it to false to disable loader
                    position: 'top-right',
                    loaderBg: '#9EC600'  // To change the background
                });
                var bkId = '@ViewBag.BookingId';
                if (bkId > 0) {
                    window.location.href = '/Home/Bookings/';
                } else {
                    window.location.href = '/Home/BookedTours/';
                }

            })
            .catch(error => {
                $.toast({
                    autoDismiss: true,
                    heading: 'Error',
                    text: 'Error on Tour Boooking',
                    icon: 'warning',
                    position: 'top-right',
                    loader: false,        // Change it to false to disable loader
                    loaderBg: '#9EC600'  // To change the background
                });
            });
    }

}
    function getFormattedDate(date) {
        var year = date.getFullYear();

        var month = (1 + date.getMonth()).toString();
        month = month.length > 1 ? month : '0' + month;

        var day = date.getDate().toString();
        day = day.length > 1 ? day : '0' + day;

        return day + '-' + month + '-' + year;
    }
    function SaveIDCard(){

    }
</script>
