
@{
    ViewBag.Title = "FoodCart";
}
<style>
    * {
        box-sizing: border-box;
    }

    body {
        font: 16px Arial;
    }

    .autocomplete {
        position: relative;
        display: inline-block;
    }

    input {
        border: 1px solid transparent;
        background-color: #f1f1f1;
        padding: 10px;
        font-size: 16px;
    }

        input[type=text] {
            background-color: #f1f1f1;
            width: 100%;
        }

        input[type=submit] {
            background-color: DodgerBlue;
            color: #fff;
            cursor: pointer;
        }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        top: 100%;
        left: 0;
        right: 0;
    }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

            .autocomplete-items div:hover {
                background-color: #e9e9e9;
            }

    .autocomplete-active {
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="card widget-container">
            <div class="heading"> <i class="fa fa-bar-chart-o"></i>Food <small>Cart  </small> <span class="heading-right"><a href="index.html"><i class="fa fa-dashboard"></i> Dashboard</a> <small>&#58; Food Cart </small> </span></div>
            <div class="widget-content padded text-center">
                <form id="msform" runat="server" action="javascript:void(0)" method="get" style=" margin:0px auto;">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input type="hidden" id="hdnBranchId" value="@ViewBag.BranchId" />
                                    <label>Select Restaurant</label>
                                    <select name="SelRestaurant" id="SelRestaurant" class="full-width ddselect">
                                        @if (ViewBag.RestroCmoboModel != null)
                                        {
                                            foreach (var item in ViewBag.RestroCmoboModel)
                                            {
                                                if (item.Text != null)
                                                {
                                                    <option value="@item.Value" selected="@item.Selected">
                                                        @item.Text.Trim()
                                                    </option>

                                                }
                                            }
                                        }
                                    </select>
                                </div>
                                @*<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group" style="margin-top:5px;">
                                    <label><input type="radio" id="css" name="fav_language" value="CSS"> Room Service </label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  form-group" style="margin-top:5px;">
                                    <label><input type="radio" id="css" name="fav_language" value="CSS"> Dining In</label>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label>Room Number</label>
                                    <input type="text" id="txtRoomNumber" class="full-width" placeholder="Room Number" runat="server">
                                </div>*@
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="tableContainerDIV">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="RoomContainerDIV">

                                </div>
                            </div>
                            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <button type="submit" class="allbtnin full-width">Update</button>
                            </div>-->
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12" style="border-left:solid 1px #CCC;">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <label id="slectedRoom_Table">Order For : </label>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                    <label>Choose Item</label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <label>Quantity</label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <label>Total</label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <label>&nbsp;</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 form-group">
                                    <input type="hidden" id="hdnItems" value="0" />
                                    <input type="hidden" id="hdnTableId" value="0" />
                                    <input type="hidden" id="hdnRoomId" value="0" />
                                    <input type="hidden" id="hdnRoomNumber" value="0" />
                                    <input type="hidden" id="hdnisRoomService" value="0" />
                                    <input type="hidden" id="hdnBiilingMaterId" value="0" />
                                    <input type="hidden" id="hdnTP" value="@ViewBag.TaxPercentage" />
                                    
                                    <div class="dropdown full-width">
                                        <input type="text" tabindex="1" id="txtItemNameMaster" class="dropbtn full-width" placeholder="Choose Item" autocomplete="off" runat="server">
                                        @*<div id="myDropdown" class="dropdown-content">
                <a href="#home">Home</a>
                <a href="#about">About</a>
                <a href="#contact">Contact</a>
            </div>*@
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 form-group">
                                    <input type="text" tabindex="2" id="MtxtQty" class="full-width" placeholder="Quantity" runat="server">
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 form-group">
                                    <input type="text" id="MtxtTotal" readonly="readonly" class="full-width" placeholder="Total" runat="server">
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 form-group">
                                    <button type="button" tabindex="3" disabled="true" id="btnAdd" class="addbtnitem full-width" onclick="addtoCart();">Add</button>
                                </div>
                            </div>
                            <fieldset>
                                <legend>Bill Details:</legend>
                                <div class="billdetailsmaster" id="billdetails">





                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                                        <p>Total <strong class="pull-right" id="txtTotalAmount"> </strong></p>
                                        <p>Tax <strong class="pull-right" id="txtTaxAmt"> </strong></p>
                                        <p>Grand Total <strong class="pull-right" id="txtGTotal"></strong></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="margin-top: 20px;">
                                        <button type="button" class="allbtnin full-width orangebg" onclick="SaveCart();"><i class="ft-box"></i> Park</button>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="margin-top: 20px;">
                                        <button type="button" class="allbtnin full-width greenbg" data-toggle="modal" data-target="#AddFoodpayment" onclick="getPayment();"><i class="ft-list"></i> Closing</button>
                                    </div>
                                    @*<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="margin-top: 20px;">
                                        <button type="submit" class="allbtnin full-width"><i class="ft-book"></i> Print</button>
                                    </div>*@
                                </div>



                            </fieldset>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="AddFoodpayment" z-index="-1" role="dialog" aria-labelledby="personalModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <h4 class="tabheading text-left"><i class="fa fa-address-card" aria-hidden="true"></i> Add Payment </h4>
                    @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label for="edit-mail" class="form-required">Order Number</label>
            <input type="text" id="txtordNo" class="full-width allinput" placeholder="123456987" runat="server">
        </div>*@
                    @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label for="edit-mail" class="form-required">Invoice Number</label>
            <input type="text" id="txtInvNo" class="full-width allinput" placeholder="170" runat="server">
        </div>*@
                    @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label for="edit-mail" class="form-required">Added Date</label>
            <input type="text" id="txtPmtDate" class="full-width allinput" placeholder="2024-03-05" runat="server">
        </div>*@

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="edit-mail" class="form-required">Payment Method</label>
                        <select name="pmtType" id="pmtType" class="full-width allinput">
                            <option selected="selected" value="N">Select</option>
                            <option value="1">Credit/Debit Card</option>

                            <option value="3">Cash</option>

                            <option value="5">UPI</option>
                        </select>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="edit-mail" class="form-required">Payment Details</label>
                        <input type="text" id="txtPmtRemarks" class="full-width allinput" placeholder="Remarks/Cheque detail/UPI Details" runat="server">
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="edit-mail" class="form-required">Payment Due</label>
                        <input type="text" id="txtAmtDue" class="full-width allinput" placeholder="-30" runat="server">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="edit-mail" class="form-required">Amount Recieved</label>
                        <input type="text" id="txtAmt" class="full-width allinput" placeholder="0.00" runat="server">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label for="edit-mail" class="form-required">Amount To Return</label>
                        <input type="text" id="txtReturnAmt" class="full-width allinput" placeholder="0.00" runat="server">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button type="button" class="btn btn-primary" data-dismiss="modal"  id="btnAddFoodPayemnt">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<script>
    var MenuItemArray=[];
    $(document).ready(function () {


        $(document.body).append($("#AddFoodpayment").clone());
        $("#AddFoodpayment").remove();


        $('#txtAmt').on('keyup', function (event) {
            var recAmt = $('#txtAmt').val();
            var dueAmt = $('#txtAmtDue').val();
            $('#txtReturnAmt').val(Number(Number(recAmt) - Number(dueAmt)).toFixed(2));
            if ($('#txtReturnAmt').val() < 0) {
                $('#txtReturnAmt').css("border", "1px solid red");
            } else {
                $('#txtReturnAmt').css("border", "1px solid green");
            }
        });
        $("#btnAddFoodPayemnt").on("click", function () {
            console.log("Saving Food payments.....");

            const tblId=$("#hdnTableId").val();
            const rmserviceId = $("#hdnRoomNumber").val();
            const isRoomService = $("#hdnisRoomService").val();
            console.log("isRoomService" + isRoomService);
            var Tbl_RMid = 0;
            var ServiceType = "";
            if (isRoomService == "true") {
                Tbl_RMid = rmserviceId;
                ServiceType = "RoomService";
            } else {
                Tbl_RMid = tblId;
                ServiceType = "Dining";
            }
            const pmtType = $("#pmtType option:selected").text();
            const pmtTypeCode = $("#pmtType option:selected").val();
            const txtAmt = $("#txtAmt").val();
            const amtPending = $("#txtAmtDue").val();
            const amtReturn = $("#txtReturnAmt").val();
            const BookingId = $("#SelRestaurant option:selected").val();
            const BranchId = $("#hdnBranchId").val();
            const pmtitem = {
                BookingId: parseInt(BookingId),
                paymentAmount: Number(txtAmt).toFixed(2),
                paymentDue: Number(amtPending).toFixed(2),
                paymentReturn: Number(amtReturn).toFixed(2),
                BranchId: parseInt(BranchId),
                PaymentType: parseInt(pmtTypeCode),
                Table_Room_Number: Number(Tbl_RMid),
                ServiceType: ServiceType,
                PaymentFor: 2,//1 for booking payemtn and 2 for Restauranr payment
                PaymentTypeName: pmtType
            };


            fetch('/Home/Addpayments', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(pmtitem)
            })
                .then(() => {
                    if (ServiceType == "Dining") {
                        showTable(BookingId);
                    } else {
                        showRoomsForRestaurant(BookingId);
                    }
                    //Print Food Invoice
                    printInvoice();

                    //
                    $("#slectedRoom_Table").text("");
                    $("#billdetails").empty();
                    $("#txtTotalAmount").text(Number(0).toFixed(2));

                    $("#txtTaxAmt").text(Number(0).toFixed(2))

                    $("#txtGTotal").text(Number(0).toFixed(2))
                    $.toast({
                        heading: 'Success',
                        text: 'Payments Success ',
                        icon: 'success',
                        loader: false,        // Change it to false to disable loader
                        position: 'top-right',
                        loaderBg: '#9EC600'  // To change the background
                    });
                    //top.loadPaymentDiv();
                })
                .catch(error => {
                    $.toast({
                        autoDismiss: true,
                        heading: 'Error',
                        text: 'Error on payment Processing',
                        icon: 'warning',
                        position: 'top-right',
                        loader: false,        // Change it to false to disable loader
                        loaderBg: '#9EC600'  // To change the background
                    });
                });


        });
        $("#SelRestaurant").change(function () {
            var restroId = $('option:selected').val();
            console.log(restroId);
            showTable(restroId);
            showRoomsForRestaurant(restroId);
            getMenuItems(restroId);
        });


        ///txtQTY change//
        $('#MtxtQty').on('keyup', function (event) {

            var keycode = (event.keyCode ? event.keyCode : event.which);
            //if (keycode == '13') {
            //    console.log('You pressed a "enter" key in textbox');
            //    $("#btnAdd").focus();
            //}
            console.log("HHHHHH");
            console.log("HHHHHH" + $('#txtItemNameMaster').val());
            var ArrVal = $('#txtItemNameMaster').val();
            console.log(ArrVal);

            var ArrData = ArrVal.split("-");
            var rate = ArrData[1];
            var number = document.getElementById("MtxtQty").value;
            console.log("qty" + number);
            if (number != 0) {
                document.getElementById("MtxtTotal").value = Number(Number(number) * Number(rate)).toFixed(2);
            } else {
                document.getElementById("MtxtTotal").value = 0;
            }
        });

    });


    function myCALFunction(cuttenItem) {
        //console.log(cuttenItem);
        var parentDivId = $(cuttenItem).parent().parent().attr("id");
        //console.log("You are there...." + $(parentDiv).attr("id"));
        var rate = 0;
        var qty = 0;
        var total ;
        $("#" + parentDivId + " > div > input:text").each(function (idx, el2) {

            if (idx == 0) {
                var tmpN = $(el2).val();
                var tmpArr = tmpN.split("-");
                rate = tmpArr[1];
                //console.log("..." + rate);
            }
            if (idx == 1) {
                 qty = $(el2).val();

                //console.log("..." + rate * qty);
            }
            if (idx == 2) {

                total = rate * qty;
                $(el2).val(Number(total).toFixed(2));
                //console.log("..." + total);
            }
        });
        calculateTotal();
    }
    function showTable(restroId) {
        $("#tableContainerDIV").load("/Home/_FoodCartTables?RestaurantId=" + restroId);
    }

    function showRoomsForRestaurant(restroId) {
        $("#RoomContainerDIV").load("/Home/_FoodCartRoomServices?RestaurantId=" + restroId);
    }
    function getMenuItems(restroId) {



                $.ajax({
                type: "GET",
                url: '@Url.Action("AutoCompleteServiceProviders", "Home")',

                    data: { RestaurantId: restroId },

                    success: function (recData) {
                        //MenuItemArray = JSON.stringify(recData);
                        //console.log('Success Menu Item' + JSON.stringify(recData));
                        for (var i in recData) {
                            MenuItemArray.push(recData[i]);
                        }
                        //console.log('Success Menu Item Arr' + MenuItemArray);
                     },
                     error: function () {

                         console.log('A error');
                     }
            });
        console.log("Item Loaded");
    }




    function addtoCart() {
        var divId;
        var itemName;
        var ItemQty;
        var ItemTotal;
        var TotalAmount;

        itemName = $("#txtItemNameMaster").val();
        ItemQty = $("#MtxtQty").val();
        ItemTotal = $("#MtxtTotal").val();


        //var itmNo = Number($("#hdnItems").val()) + 1;
        var itmNo = $("#txtItemNameMaster").attr('menuitemid');
        var foodItemId = "FoodItem_" + itmNo;
        //$("#billdetails").append('<div id="' + foodItemId + '" class="Subgroupmain"><input id="txtItemName" type="text" value="' + itemName + '"> <input id="txtQty" type="text" value="' + ItemQty + '"><input id="txtTotal" type="text" value="' + ItemTotal + '"></div>');

        var divHtml = '<div class="row" id="' + foodItemId +'"><div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">';
        divHtml += '<input type="text" id="' + itmNo +'" class="full-width height35"  disabled runat="server" value="' + itemName +'"></div>';
        divHtml += '<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"><input type="text" id="0" onkeyup="myCALFunction(this)" class="full-width height35" placeholder="Quantity" runat="server" value="' + ItemQty +'"> </div>';
        divHtml += '<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><input type="text" id="txtRoomNumber" class="full-width height35" placeholder="Total" disabled runat="server" value="' + ItemTotal +'"></div> </div>';

        $("#billdetails").append(divHtml);

        $("#hdnItems").val(itmNo);
        calculateTotal();
        $("#txtItemNameMaster").val('');
        $("#MtxtQty").val('');
        $("#MtxtTotal").val('');
        $("#txtItemNameMaster").focus();
    }
    function calculateTotal() {
        var totalAmount = 0;
        const tp = $("#hdnTP").val();
        $("#billdetails > div").each(function (idx, el) {
            divId = el.id;
            var cuurenDivId = el.id
            $("#" + cuurenDivId + " input:text").each(function (idx, el1) {
                if (idx == 2) {
                    var itemval = $(el1).val();
                    totalAmount = Number(totalAmount) + Number(itemval);
                    //console.log("TTTT" + $(el1).val());
                }
            });
        });

        $("#txtTotalAmount").text(Number(totalAmount).toFixed(2));
        var txtTaxAmt = (totalAmount * Number(tp)) / 100;
        $("#txtTaxAmt").text(Number(txtTaxAmt).toFixed(2))
        var gTotal = totalAmount + txtTaxAmt;
        $("#txtGTotal").text(Number(gTotal).toFixed(2))
    }
    function SaveCart() {
        var txtRestroId = $("#SelRestaurant option:selected").val();
        var txtRoom_tableId = $("#hdnRoomNumber").val();
        var tableId = $("#hdnTableId").val();
        var isRoomService = $("#hdnisRoomService").val();
        var BiilingMaterId;
        BiilingMaterId = $("#hdnBiilingMaterId").val();
        const tp = $("#hdnTP").val();
        var BillingMaster = {
            BillingId: BiilingMaterId,
            RestaurantId: txtRestroId,
            TableNo_RoomNumber: txtRoom_tableId,
            TotalAmount: Number($("#txtTotalAmount").text()).toFixed(2),
            Tax: Number(tp).toFixed(),
            TaxAmount: Number($("#txtTaxAmt").text()).toFixed(),
            GrantTotal: Number($("#txtGTotal").text()),
            isPark: true,
            isRoomService: isRoomService,
            TableId: tableId,
            BillingDetails: []

        };
        var txtItemNmae;
        var txtItemId;
        var txtQty;
        var txtAount;
        var ItemDetailsId;

        $("#billdetails > div").each(function (idx, el) {
            divId = el.id;
            var cuurenDivId = el.id
            $("#" + cuurenDivId + " input:text").each(function (idx, el1) {
                if (idx == 0) {
                    txtItemNmae = $(el1).val();
                    txtItemId = el1.id;
                }
                if (idx == 1) {
                    ItemDetailsId = el1.id;
                    txtQty = $(el1).val();

                }
                if (idx == 2) {
                    txtAmount = $(el1).val();
                    txtAount = Number(txtAmount * tp / 100).toFixed();

                }
            });
            var items = {
                BillingDetailsId: ItemDetailsId,
                BillingMasterId: BiilingMaterId,
                ItemId: txtItemId,
                ItemName: txtItemNmae,
                Quantity: txtQty,
                Amount: txtAmount,
                Tax: Number(tp / 100).toFixed(2),
                TaxAmount: txtAount
            }
            BillingMaster.BillingDetails.push(items);
        });
        console.log(BillingMaster);
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveFoodCart", "Home")',

            data: { billingmasterEntity: BillingMaster }
,

                     //data: { restroEntity: restaurant },

                        success: function (recData) {
                         $.toast({
                             heading: 'Success',
                             text: 'Food Cart  Successfully ',
                             icon: 'success',
                             loader: false,        // Change it to false to disable loader
                             position: 'top-right',
                             loaderBg: '#9EC600'  // To change the background
                         });
                            setTimeout(function () {
                                if (isRoomService == "true") {
                                    showRoomsForRestaurant(txtRestroId);

                                } else {
                                    showTable(txtRestroId);
                                }
                            //window.location.href = '@Url.Action("FoodCart", "HOME")';
                            }, 500);
                         console.log('Success');
                     },
                     error: function () {
                         $.toast({
                             heading: 'Error',
                             text: 'Error on configuring Restaurant  ',
                             icon: 'Error',
                             loader: false,        // Change it to false to disable loader
                             position: 'top-right',
                             loaderBg: '#9EC600'  // To change the background
                         });
                         console.log('A error');
                     }
            });
    }
    function getPayment() {
        $("#txtAmtDue").val($("#txtGTotal").text());
    }
    function ReleaseTable() {
        var txtRestroId = $("#SelRestaurant option:selected").val();
        var tableId = $("#hdnTableId").val();
                $.ajax({
            type: "POST",
            url: '@Url.Action("ReleaseTable", "Home")',

                    data: { RestaurantId: txtRestroId, tableId: tableId }
,

                     //data: { restroEntity: restaurant },

                        success: function (recData) {
                         $.toast({
                             heading: 'Success',
                             text: 'Food Cart  Successfully ',
                             icon: 'success',
                             loader: false,        // Change it to false to disable loader
                             position: 'top-right',
                             loaderBg: '#9EC600'  // To change the background
                         });
                         setTimeout(function () {
                            window.location.href = '@Url.Action("FoodCart", "HOME")';
                            }, 500);
                         console.log('Success');
                     },
                     error: function () {
                         $.toast({
                             heading: 'Error',
                             text: 'Error on configuring Restaurant  ',
                             icon: 'Error',
                             loader: false,        // Change it to false to disable loader
                             position: 'top-right',
                             loaderBg: '#9EC600'  // To change the background
                         });
                         console.log('A error');
                     }
            });
    }


    /////AutoComplete///
    function autocomplete(inp, arr) {
        var currentFocus;
        inp.addEventListener("input", function (e) {
            var a, b, i, val = this.value;
            closeAllLists();
            if (!val) { return false; }
            currentFocus = -1;
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            this.parentNode.appendChild(a);
            //console.log("Items ::" + MenuItemArray);
            for (i = 0; i < arr.length; i++) {

                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    var tmpArr = arr[i].split("~");
                    b = document.createElement("DIV");
                    b.innerHTML = "<strong>" + tmpArr[0].substr(0, val.length) + "</strong>";
                    b.innerHTML += tmpArr[0].substr(val.length);
                    b.innerHTML += "<input type='hidden' id='" + tmpArr[1] + "' value='" + tmpArr[0] + "'>";

                    b.addEventListener("click", function (e) {
                        inp.value = this.getElementsByTagName("input")[0].value;
                        inp.setAttribute("MenuItemId", this.getElementsByTagName("input")[0].id);

                        $("#MtxtQty").focus();
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });

        inp.addEventListener("keydown", function (e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                currentFocus++;
                addActive(x);
            } else if (e.keyCode == 38) {
                currentFocus--;
                addActive(x);
            } else if (e.keyCode == 13) {
                e.preventDefault();
                if (currentFocus > -1) {
                    if (x) x[currentFocus].click();
                }
            }
        });
        function addActive(x) {
            if (!x) return false;
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }
        function closeAllLists(elmnt) {
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }


    var countries = ["Roti-50~1", "Butter roti-70~2", "Naan-170~3", "Rice-150~4", "Jeera Rice-170~5", "Lemon Rice-180~6", "Dal-240~7"];
    console.log(countries);
    autocomplete(document.getElementById("txtItemNameMaster"), MenuItemArray);
    /////////
    //print Food invoice//
    function printInvoice() {
        var divToPrint = document.getElementById('billdetails');
        const RestaurantName = $("#SelRestaurant option:selected").text();
        var newWin = window.open('', 'Print-Window');
        var bName = '@ViewBag.BranchName';
        var bAddress = '@ViewBag.BranchAddress';
        var bPin = '@ViewBag.BranchPinCode';
        var bPh1 = '@ViewBag.BranchPhone1';
        var bPh2 = '@ViewBag.BranchPhone2' ;
        const tp = $("#hdnTP").val();
        newWin.document.open();

        newWin.document.write('<link rel="stylesheet" type="text/css" href="/css/prism.min.css">');
        newWin.document.write('<link rel="stylesheet" type="text/css" href="/css/style.min.css">');
        newWin.document.write('<link rel="stylesheet" type="text/css" href="/css/app.css">');
        //newWin.document.write('<link rel="stylesheet" type="text/css" href="~/css/prism.min.css">');
        var headerHTML = '<table width="100%"><tr><td align="center">' + RestaurantName +'</td></tr><tr><td align="center">' + bName + '</td></tr>';
        headerHTML += '<tr><td align="center">' + bAddress + '</td></tr>';
        headerHTML += '<tr><td align="center">Pincode :' + bPin + '</td></tr>';
        headerHTML += '<tr><td align="center"> Phone :' + bPh1 + ' , '+ bPh2+ '</td></tr></table>';
        newWin.document.write('<html><body onload="window.print()">' + headerHTML );
        var itemsheaderHTML = '<table width="100%"><tr><td align="center" style="witdh:10%;border-style: dashed">#</td><td style="width:50%;border-style: dashed">Description</td><td align="center" style="width:10%;border-style: dashed">Qty</td><td align="right" style="width:30%;border-style: dashed">Amount</td></tr>';
        var totalAmount = 0;
        $("#billdetails > div").each(function (idx, el) {
            divId = el.id;
            var cuurenDivId = el.id
            var slno = Number(idx) + 1;
            itemsheaderHTML += '<tr><td align="center" style="border-style: dashed">' + slno +'</td>';
            $("#" + cuurenDivId + " input:text").each(function (idx, el1) {

                if (idx == 0) {
                    itemsheaderHTML += '<td style="border-style: dashed">' + $(el1).val() + '</td>';
                }
                if (idx == 1) {
                    itemsheaderHTML += '<td align="center" style="border-style: dashed">' + $(el1).val() + '</td>';

                }

                if (idx == 2) {
                    itemsheaderHTML += '<td align="right" style="border-style: dashed">' + $(el1).val() + '</td>';
                    var itemval = $(el1).val();
                    totalAmount = Number(totalAmount) + Number(itemval);
                    //console.log("TTTT" + $(el1).val());
                }
            });
            itemsheaderHTML += '</tr>';
        });
        itemsheaderHTML += '<tr><td colspan="4" align="right" style="border-style: dashed">Total Amount :' + Number(totalAmount).toFixed(2);
        var txtTaxAmt = (totalAmount * tp) / 100;
        itemsheaderHTML += '<tr><td colspan="4" align="right" style="border-style: dashed"> Tax :' + Number(txtTaxAmt).toFixed(2);
        var gTotal = totalAmount + txtTaxAmt;
        itemsheaderHTML += '<tr><td colspan="4" align="right" style="border-style: dashed"> Amount to Paid :' + Number(gTotal).toFixed(2);
        itemsheaderHTML += '</tr>';
        itemsheaderHTML += '<tr><td colspan="4" align="right" style="border-style: dashed">Amouunt Received : ' + $("#txtAmt").val()+'</td></tr>';
        itemsheaderHTML += '<tr><td colspan="4" align="right" style="border-style: dashed">Amouunt Return : ' + $("#txtReturnAmt").val() + '</td></tr></table>';

        newWin.document.write(itemsheaderHTML + '</body></html>');

        newWin.document.close();
    }
</script>
