@*@model IEnumerable<HotelBooking.Model.Amenities>*@
@using PagedList.Mvc
@model PagedList.IPagedList<HotelBooking.Model.Amenities>
    @{
        ViewBag.Title = "Amenities";
    }

    <div class="row">
        <div class="col-sm-12">
            <div class="card widget-container">
                <div class="heading"> <i class="fa fa-bar-chart-o"></i>Amenities <small>Lists</small> <span class="heading-right"><a href="index.html"><i class="fa fa-dashboard"></i> Dashboard</a> <small>&#58; Amenities</small> </span></div>
                <div class="widget-content padded text-center">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 pull-right">
                                <button type="button" class="allbtnin form-group" onclick="location.href='@Url.Action("AddAmenities","Home")'"> +ADD</button>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 table-responsive weblogtbl">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 pull-left">
                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 pull-left text-left">
                                    Show
                                    <select id="ddlEngine" class="onlyinput" runat="server">
                                        <option selected="selected">10</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                    Intries
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pull-left">
                                    Search
                                    <input type="text" id="txtUserName" class="onlyinput" placeholder="Search" runat="server">
                                </div>
                            </div>
                            <table id="RoomTypeTable" class="table table-bordered" ">
                                <tr>
                                    <th width="3%" align="center" valign="middle" bgcolor="#003556" class="clrwhit">#</th>
                                    <th width="25%" align="left" valign="middle" bgcolor="#003556" class="clrwhit">Name</th>
                                    <th width="5%" align="center" valign="middle" bgcolor="#003556" class="clrwhit">Active</th>


                                    <th width="5%" align="center" valign="middle" bgcolor="#003556" class="clrwhit">View</th>
                                    <th width="5%" align="center" valign="middle" bgcolor="#003556" class="clrwhit">Edit</th>
                                    <th width="5%" align="center" valign="middle" bgcolor="#003556" class="clrwhit">Delete</th>
                                </tr>
                                @if (Model != null)
                                {
                                    var i = 1;
                                    foreach (var rt in Model)
                                    {
                                        <tr>

                                            <td align="center" valign="middle">@i</td>
                                            <td align="left" valign="middle">@rt.Title</td>
                                            @*<td>@rt.IsActive</td>*@
                                            <td align="center" valign="middle"><input type="checkbox" asp-for="@rt.IsActive" checked="@rt.IsActive" /></td>
                                            <td align="center" valign="middle"><a class="viewbtn" href="@Url.Action("Delete","Sales",new { @AmenitisId = rt.AmenitiesId })"><i class="fa fa-eye"></i> View</a></td>
                                            <td align="center" valign="middle"><a href="#" class="editbtn"><i class="fa fa-edit"></i> Edit</a></td>
                                            <td align="center" valign="middle"><a href="#" class="closebtn deletebtn"><i class="fa fa-trash-o"></i> Delete</a></td>

                                        </tr>
                                        i++;
                                    }
                                    <tr>
                                        <td colspan="8">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <span class="float-left restextpagin">Showing Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount </span>
                                               
                                                <div class="pagination pull-right" style="display:inline-block; vertical-align:middle;">
                                                  
                                                    @Html.PagedListPager(Model, page => Url.Action("GetAmenities", new { page }))
                                                   
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    