@model HotelBooking.Model.Floor
@{
    ViewBag.Title = "Manage Floors";
}


<div class="row" id="addfloor" >
    <div class="col-sm-12">
        <div class="card widget-container">
            <div class="heading"> <i class="fa fa-bar-chart-o"></i> Add Floor</div>
            <div class="widget-content padded text-center">
                <div class="row">
                    <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12 table-responsive pull-left">

                        @using (Html.BeginForm("SaveFloor", "Home", FormMethod.Post, new { id = "msform" }))
                        {
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-left">
                                <label for="edit-mail" class="form-required">Description</label>

                                @Html.TextBoxFor(model => model.Description, new { @class = "full-width ValidateInput", placeholder = "Name",maxlength="50" })
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-left">
                                <label for="edit-mail" class="form-required">Floor Number</label>

                                @Html.TextBoxFor(model => model.FloorNumber, new { @class = "full-width ValidateInput", placeholder = "Floor Number", maxlength = "3", valType = "NumbersOnly" })
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-left">
                                <label for="edit-mail" class="form-required">&nbsp;</label>
                                <ul class="unstyled">
                                    <li>
                                        <input class="styled-checkbox" id="CHK_ACTIVE" name="CHK_ACTIVE"   type="checkbox">
                                        @*@Html.CheckBoxFor(model=>model.isActive, new {@class="styled-checkbox",id="styled-checkbox-2" })*@
                                        <label for="CHK_ACTIVE">Active</label>
                                    </li>
                                </ul>
                                @Html.HiddenFor(model => model.BranchId)
                                @Html.HiddenFor(model => model.FloorId)
                                @Html.HiddenFor(model => model.isActive)
                            </div>
                            
                            <input type="submit" name="SUBMIT" class="prev action-button" onclick="return UdpateActiveValue()" value="Save" runat="server">
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
   
<script>
    $(document).ready(function () {

        $("input").attr("autocomplete", "none");
        $(".ValidateInput").on("blur", function () {
            validateField(this);
        });

        $('input[type=checkbox]').each(function () {
            if (this.name == "CHK_ACTIVE") {

                const ic =$('#isActive').val();
                console.log(ic+ "  21 " + 'False');
                if (ic == 'True') {
                    $('#CHK_ACTIVE').prop('checked', true)
                    console.log(ic + "  2 " + this.value);
                }

            }
        });
    });
    function UdpateActiveValue(arg) {
        if (!validateBooking()) {
            return false; // Prevent form submission if validation fails
        } else {
            $('input[type=checkbox]').each(function () {


                if (this.name == "CHK_ACTIVE") {
                    $('#isActive').val(this.checked);

                }
            });

        }
    }
</script>

