@model HotelBooking.Model.Hall.HallBooking
@{
    ViewBag.Title = "Print Hall Booking";
}

<div class="row" id="PrintHallBooking">
    <div class="col-sm-12">
        <div class="card widget-container" id="BookingFirstPage">
            <form id="msform" runat="server" action="javascript:void(0)" method="get" style=" margin:0px auto;">


                <h3 style=" font-size: 18px; font-weight: 600; color: #003556; text-align: left; padding: 15px 0px 0px 15px;">Party Hall  Reservation</h3>


                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pull-left">
                    <label for="edit-mail" class="form-required">Customer Name</label>
                    <input type="text" id="txtCustomerName" class="full-width" value="@Model.CustomerName" placeholder="Customer Name " readonly="readonly" maxlength="100" runat="server">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pull-left">
                    <label for="edit-mail" class="form-required">Customer Email</label>
                    <input type="text" id="txtCustomerEmail" class="full-width" value="@Model.CustomerEmail" placeholder="Customer Email" readonly="readonly" maxlength="150" runat="server">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pull-left">
                    <label for="edit-mail" class="form-required">Customer Phone</label>
                    <input type="text" id="txtCustomerPhone" class="full-width" value="@Model.CustomerPhone" placeholder="Customer Phone Number" readonly="readonly" maxlength="15" runat="server">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pull-left">
                    <label for="edit-mail" class="form-required">Number of Person</label>
                    <input type="text" id="txtNPax" class="full-width" value="@Model.Number_Of_Person" placeholder="Number of Person" readonly="readonly" maxlength="15" runat="server">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pull-left">
                    <label for="edit-mail" class="form-required">Select a Hall</label>
                    <select name="SelHall" id="SelHall" disabled="disabled" class="full-width freetrial">
                        @if (ViewBag.PartyHall != null)
                        {
                            foreach (var item in ViewBag.PartyHall)
                            {
                                if (item.Text != null)
                                {
                                    <option value="@item.Value" selected="@item.Selected">
                                        @item.Text.Trim()
                                    </option>

                                }
                            }
                        }
                    </select>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pull-left">
                    <label for="edit-mail" class="form-required">Select a Slot</label>
                    <select name="SelSlot" id="SelSlot" disabled="disabled" class="full-width freetrial">
                        @if (ViewBag.Slots != null)
                        {
                            foreach (var item in ViewBag.Slots)
                            {
                                if (item.Text != null)
                                {
                                    <option value="@item.Value" selected="@item.Selected">
                                        @item.Text.Trim()
                                    </option>

                                }
                            }
                        }
                    </select>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pull-left">
                    <label for="edit-mail" class="form-required">Select a Menu</label>
                    <select name="SelBM" id="SelBM" disabled="disabled" class="full-width freetrial">
                        @if (ViewBag.BuffetMenus != null)
                        {
                            foreach (var item in ViewBag.BuffetMenus)
                            {
                                if (item.Text != null)
                                {
                                    <option value="@item.Value" selected="@item.Selected">
                                        @item.Text.Trim()
                                    </option>

                                }
                            }
                        }
                    </select>
                </div>





                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-0 pull-left">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-left">
                        <label for="edit-mail" class="form-required">Hall/Party on</label>
                        <input type="text" id="HallBookingDate" readonly="readonly" value="@Model.BookingDate" class="full-width allinputgo  ValidateInput" placeholder="Hall Booking Date" autocomplete="off">
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 table-responsive weblogtbl">
                        <table class="table table-bordered" id="tblBFM">
                            <thead>
                                <tr>
                                    <th bgcolor="#003556" class="clrwhit">Category</th>
                                    <th bgcolor="#003556" class="clrwhit">Items</th>

                                </tr>

                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 table-responsive weblogtbl">
                        <table class="table table-bordered" id="tblPS">
                            <thead>
                                <tr>
                                    <th bgcolor="#003556" align="center" style="color:#FFFFFF" colspan="4">Services</th>
                                </tr>
                                <tr>
                                    <th bgcolor="#003556" width="5%" class="clrwhit">#</th>
                                    <th bgcolor="#003556" width="30%" class="clrwhit">Service Name</th>
                                    <th bgcolor="#003556" width="30%" class="clrwhit">Cost </th>


                                </tr>

                            </thead>
                            <tbody>
                                @foreach (var svc in Model.HallBookingCosting.Where(s => s.Status == "SVC"))
                                {
                                    <tr>
                                        <td width="5%" >#</td>
                                        <td  width="30%" >@svc.Description</td>
                                        <td  width="30%" ><input type="text" id="txtCost" value="@svc.COST" readonly="readonly" style="text-align:right !important" class="full-width" placeholder="Cost" maxlength="15" runat="server"> </td>


                                    </tr>
                                }
                            </tbody>

                        </table>

                    </div>

                </div>
                <div class="row">

                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 table-responsive weblogtbl">
                        <table class="table table-bordered" id="tblCosting">
                            <thead>
                                <tr>
                                    <th bgcolor="#003556" style="color:#FFFFFF" align="center" colspan="3">Costing</th>
                                </tr>
                                <tr>
                                    <th bgcolor="#003556" class="clrwhit">#</th>
                                    <th bgcolor="#003556" class="clrwhit">Description</th>
                                    <th bgcolor="#003556" class="clrwhit">Amount </th>

                                </tr>

                            </thead>
                            <tbody>


                                <tr>
                                    <td>#</td>
                                    <td align="left">Hall Rent</td>
                                    <td align="right"><span id="hRentCostId"></span></td>
                                </tr>
                                <tr>
                                    <td>#</td>
                                    <td align="left">Food Costing</td>
                                    <td align="right"><span id="fdCostingId">0.00</span></td>
                                </tr>
                                <tr>
                                    <td>#</td>
                                    <td align="left">Addition Service</td>
                                    <td align="right"><span id="fsvsostingId">0.00</span></td>
                                </tr>
                                <tr>

                                    <td align="right" colspan="2">Total Cost</td>
                                    <td align="right"><span id="totalCostId"></span></td>
                                </tr>



                            </tbody>

                        </table>

                    </div>

                </div>

                <div class="row">

                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 table-responsive weblogtbl">
                        <table class="table table-bordered" id="tblPayment">
                            <thead>
                                <tr>
                                    <th bgcolor="#003556" align="center" style="color:#FFFFFF" colspan="5">Payment</th>
                                </tr>
                                <tr>
                                    <th bgcolor="#003556" class="clrwhit">#</th>
                                    <th bgcolor="#003556" class="clrwhit">Date</th>
                                    <th bgcolor="#003556" class="clrwhit">Description</th>
                                    <th bgcolor="#003556" class="clrwhit">Amount </th>


                                </tr>

                            </thead>
                            <tbody>

                                @foreach (var pmt in Model.HallBookingPayment)
                                {
                                    <tr id="@pmt.HallBookingPaymentId">
                                        <td>#</td>
                                        <td align="left">@pmt.paymentDate</td>
                                        <td align="left"><input type="text" id="txtPmtDesc" class="full-width" placeholder="Description" maxlength="15" readonly="readonly" value="@pmt.Description" runat="server"></td>
                                        <td align="right"><input type="text" id="txtPmtAmt" class="full-width" style="text-align:right !important" readonly="readonly" placeholder="Amount" maxlength="15" value="@pmt.Amount" runat="server"></td>


                                    </tr>
                                }

                            </tbody>
                            <tfoot>
                                <tr>


                                    <td colspan="3" align="right">Balance Amount</td>
                                    <td align="right"><span id="totBalId"></span></td>


                                </tr>
                            </tfoot>
                        </table>

                    </div>

                </div>

                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 pull-right form-group">
                    <label for="edit-mail" class="form-required">&nbsp;</label>
                    <input type="button" name="SUBMIT" class="prev action-button full-width mg-0 " onclick="PrintHallBooking(this);" value="Print" runat="server">
                </div>

            </form>
        </div>
    </div>
</div>
<script>
    let HallBookingDetails= '' || [];
    $(document).ready(function () {
        $("#hRentCostId").change(function () {
            CalCulateTotal();
        });
        $("#fsvsostingId").change(function () {
            CalCulateTotal();
        });
        $("#fdCostingId").change(function () {
            //console.log("Change Event fired");
            CalCulateTotal();
        });
        var ArrMId = $("#SelBM option:selected").val().split("-");
        //$("#SelBM").val(Number(ArrMId[0]));

        var nPax = @Model.Number_Of_Person;
        mCost = Number(ArrMId[1]);
        var totalFoodCost = Number(mCost) * Number(nPax);
        $("#fdCostingId").text(Number(totalFoodCost).toFixed(2));
        $("#fdCostingId").trigger("change");
        AddPStoCosting();



        $("#SelSlot").val('@Model.SlotId');

        var ArrhId = $("#SelHall option:selected").val().split("-");


        $("#hRentCostId").text(Number(ArrhId[1]).toFixed(2));
        $("#hRentCostId").trigger("change");





        $("#SelBM").change(function () {
            var ArrselectedValue = $(this).val().split("-");
            selectedValue = ArrselectedValue[0];
            getBuffetMenuDetails(selectedValue);
        });
        $("#SelBM").trigger('change');

        $("#HallBookingDate").datepicker({
            dateFormat: "mm-dd-yy",
            duration: "fast",
            minDate: 0,
            disabledDates: [new Date()],

        });


    });
    function getBuffetMenuDetails(menuId) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("getBuffetMenu", "Home")',

            data: { buffetMenuId: menuId },

            success: function (GLBuffetMenuDetails) {
                var trItems = "";
                //console.log("test"+GLBuffetMenuDetails);
                GLBuffetMenuDetails.forEach((itm, itmIndex) => {

                    trItems += ' <tr><th width = "20%" align = "left" BuffetMenuId="' + itm.BuffetMenuId + '" id="' + itm.CategoryId + '" opt="' + itm.MenuOption + '" valign = "middle" bgcolor = "#003556" class="clrwhit" > <a href="#">' + itm.BuffetMenuCategory + ' - Any (' + itm.MenuOption + ')' + '</a></th>';
                    trItems += '<td><ul>';
                    var itemIds = "'";
                    var headingIds;

                    itm.ItemDetails.forEach((itm1, itmIndex) => {
                        itemIds = itemIds + itm1.ItemId + "-";
                        headingIds = itm1.HeadingId;
                        var isSelected = '';
                        var isfound = isAlreadySelected(itm1.ItemId);
                        if (isfound) {
                            trItems += '<li align="left" bfmItemid="' + itm1.BuffetMenuItemId + '" bfmid="' + itm1.BuffetMenuId + '" id="' + itm1.ItemId + '" hId="' + itm1.HeadingId + '" valign="middle">' + itm1.ItemName + '</li>';
                        }
                        //console.log("Found " + isfound);
                       

                    });
                    itemIds = itemIds + "'"
                    trItems += '</ul></td>';
                   // trItems += '<td align="left" id="XXX" valign="middle" class="text-right"><a href="#" onclick="EditCategory(' + itm.MenuOption + ',' + itm.CategoryId + ',' + headingIds + ',' + itemIds + ');" class="editbtn"><i class="fa fa-edit"></i> Edit</a></td>';
                    trItems += '</tr>';
                });
                $("#tblBFM tbody").empty();
                $("#tblBFM tbody").append(trItems);


                },
                error: function () {

                 console.log('A error');
                }
                });

    }
    function checkSelection(n, opt) {
        var selectedItems = [];
        $.each($("input[name='"+n.name+"']:checked"), function () {
            selectedItems.push($(this).val());
        });
        //console.log("My favourite sports are: " + favorite.join(", "));
        console.log("item selected: " + selectedItems.length +"   "+opt);
        if (selectedItems.length > opt) {

            $(n).prop('checked', false);
            return false;
        }

    }
    function isAlreadySelected(itemId) {
        var itemsId = [];
        var rtnVal = false;
        //console.log(itemId);
        var Arr = '@Model.HallBookingDetails';

        var ArrItems = Arr.split('$');
        //console.log(ArrItems);
        ArrItems.forEach((itm, itmIndex) => {
            var itmArr = itm.split('#');
            //console.log(itmArr);
            var fItems = itmArr[1].split(',');
            fItems.forEach((itm1, itmIndex) => {
                itemsId.push(Number(itm1));

            });
        });
        //console.log(itemsId);
        var index = $.inArray(itemId, itemsId);

        if (index !== -1) {
            //console.log("Value found at index: " + index);
            rtnVal = true;
        } else {
            //console.log("Value not found in the array.");
            rtnVal = false;
        }
        return rtnVal;

    }
    function SaveHallBooking() {
        const BranchId = '@ViewBag.BranchId';
        const bDate = $("#HallBookingDate").val();
        const cName = $("#txtCustomerName").val();
        const cEmail = $("#txtCustomerEmail").val();
        const cPhone = $("#txtCustomerPhone").val();
        const nPax = $("#txtNPax").val();
        const ArrmId = $("#SelBM option:selected").val().split("-");
        var mId = ArrmId[0];
        var mCost = ArrmId[1];
        const mName = $("#SelBM option:selected").text().replace(/[\n\r]+/g, ' ').trim();;
        const sId = $("#SelSlot option:selected").val();
        const sName = $("#SelSlot option:selected").text().replace(/[\n\r]+/g, ' ').trim();;
        const ArrhId = $("#SelHall option:selected").val().split("-");
        var hId = ArrhId[0];
        var HallRentCost = ArrhId[1];
        const hName = $("#SelHall option:selected").text().replace(/[\n\r]+/g, ' ').trim();;
        var totAmt = 0;
        var totTax = 0;

        var gTot = $("#totalCostId").text();

        var pmtAmt = $("#txtPmtAmt").val();
        var balAmt = Number(gTot) - Number(pmtAmt);
        var currentDate = new Date();
        var day = ("0" + currentDate.getDate()).slice(-2);
        var month = ("0" + (currentDate.getMonth() + 1)).slice(-2);
        var year = currentDate.getFullYear();
        var formattedDate = month + '-' + day + '-' + year;
        console.log(formattedDate); // Outputs: dd-mm-yyyy

        var HallBooking = {
            HallBookingId:@Model.HallBookingId,
            CustomerName: cName,
            CustomerEmail: cEmail,
            CustomerPhone: cPhone,
            Number_Of_Person: nPax,
            MenuId: mId,
            MenuName: mName,
            SlotId: sId,
            SlotName: sName,
            HallId: hId,
            TotalAmount: totAmt.toFixed(2),
            TotalTax: totTax.toFixed(2),
            PayableAmount: Number(gTot).toFixed(2),
            AdvanceAmount: Number(pmtAmt).toFixed(2),
            BalanceAmount: Number(balAmt).toFixed(2),
            BranchId: BranchId,
            isActive: true,
            BookingDate: bDate,
            HallBookingDetails: '',
            DateCreate: formattedDate,
            Status: sts,
            HallBookingCosting: [],
            HallBookingPayment: []

        };

        var BuffetMenuDetails = [];

        var selectedItems = '';
        $("#tblBFM tbody> tr").each(function (idx) {

            $(this).find('th').each(function (index) {
                if (index == 0) {
                    selectedItems += $(this).attr("id") + "#";

                }
            });
            var Itms = "";
            $(this).find('td').each(function (index) {
                var $this = $(this);
                var id = $this.attr("id");
                if (id != 'XXX') {
                    $(this).find("input[type=checkbox]:checked").each(function () {
                        Itms += this.id + ",";
                        //console.log("Testing..." + this.value);
                    });

                }


            });
            selectedItems += Itms.slice(0, -1) + "$";
        });

        //console.log(selectedItems);
        HallBooking.HallBookingDetails = selectedItems.slice(0, -1);

        //costing
        var hCosting = {
            HallBookingCostId: 0,
            HallBookingId: @Model.HallBookingId,
            HallId: Number(hId),
            Description: hName,
            DATE: bDate,
            COST: Number(HallRentCost).toFixed(2),
            OfferPrice: Number(HallRentCost).toFixed(2),
            TAX: 0.00,
            TaxAmount: 0.00,
            Status: 'HALL',
            BranchId: BranchId
        }

        HallBooking.HallBookingCosting.push(hCosting);
        var foodCosting = {
            HallBookingCostId: 0,
            HallBookingId: @Model.HallBookingId,
            HallId: Number(hId),
            Description: mName,
            DATE: bDate,
            COST: Number(Number(mCost) * Number(nPax)).toFixed(2),
            OfferPrice: mCost,
            TAX: 0.00,
            TaxAmount: 0.00,
            Status: 'FOOD',
            BranchId: BranchId

        }

        HallBooking.HallBookingCosting.push(foodCosting);

        $("#tblPS tbody> tr").each(function (idx) {

            var svsCosting = {
                HallBookingCostId: 0,
                HallBookingId: @Model.HallBookingId,
                HallId: Number(hId),
                Description: mName,
                DATE: bDate,
                COST: mCost,
                OfferPrice: mCost,
                TAX: 0.00,
                TaxAmount: 0.00,
                Status: 'SVC',
                BranchId: BranchId

            }

            $(this).find('td').each(function (index) {

                if (index == 1) {
                    $(this).find("input").each(function () {
                        var txtDesc = $(this).val();
                        console.log("Testing..." + txtDesc);
                        svsCosting.Description = txtDesc;
                    });

                }
                if (index == 2) {
                    $(this).find("input").each(function () {
                        var txtCost = $(this).val();
                        console.log("Testing..." + txtCost);
                        svsCosting.COST = Number(txtCost).toFixed(2);
                        svsCosting.OfferPrice = Number(txtCost).toFixed(2);
                    });

                }


            });
            HallBooking.HallBookingCosting.push(svsCosting);
        });
        $("#tblPayment tbody> tr").each(function (idx) {
            var id = this.id;
            var pmtDetail = {
                HallBookingPaymentId: Number(id),
                HallBookingId: @Model.HallBookingId,
                HallId: Number(hId),
                Description: '',
                paymentDate: formattedDate,
                Amount: 0,
                BranchId: BranchId
            }

            $(this).find('td').each(function (index) {

                if (index == 2) {
                $(this).find("input").each(function () {
                    var txtDesc = $(this).val();
                    console.log("Testing..." + txtDesc);
                    pmtDetail.Description = txtDesc;
                });

                }
                if (index == 3) {
                    $(this).find("input").each(function () {
                        var txtCost = $(this).val();
                        console.log("Testing..." + txtCost);
                        pmtDetail.Amount = Number(txtCost).toFixed(2);

                    });

                }


            });
            HallBooking.HallBookingPayment.push(pmtDetail);
        });


        console.log(HallBooking);
        fetch('/Home/SaveHallBooking', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(HallBooking)
        })
            //.then(response => response.json())
            .then(() => {
                $(btn).find("span").remove();
                $(btn).removeAttr("disabled");
                $.toast({
                    heading: 'Success',
                    text: 'Booking Success ',
                    icon: 'success',
                    loader: false,        // Change it to false to disable loader
                    position: 'top-right',
                    loaderBg: '#9EC600'  // To change the background
                });
                //window.location.href = '/Home/Bookings/';

            })
            .catch(error => {
                $.toast({
                    autoDismiss: true,
                    heading: 'Error',
                    text: 'Error on Boooking',
                    icon: 'warning',
                    position: 'top-right',
                    loader: false,        // Change it to false to disable loader
                    loaderBg: '#9EC600'  // To change the background
                });
            });

    }

    function CalCulateTotal() {
        var totalCost = 0;

        $("#totalCostId").text('');
        $("#tblCosting tbody > tr").each(function (idx) {

            var itemCost = 0;

            $(this).find('td').each(function (index) {

                if (index == 2) {
                    $(this).find("span").each(function () {
                        itemCost = $(this).text();
                        //console.log("Tot" + itemCost);
                        totalCost += Number(itemCost);

                    });

                }


            });





        });
        //console.log("Total cost  :" + Number(totalCost).toFixed(2));
        $("#totalCostId").text(Number(totalCost).toFixed(2));

        ///Get Payment
        var TotalPaymentReceived = 0;
        $("#tblPayment tbody > tr").each(function (idx) {
            var pmtAmount = 0;
            $(this).find('td').each(function (index) {

                if (index == 3) {
                    $(this).find("input").each(function () {
                        pmtAmount = $(this).val();
                        //console.log("Tot" + itemCost);
                        TotalPaymentReceived += Number(pmtAmount);

                    });
                }
            });
        });
        var BalAmount = Number(totalCost) - Number(TotalPaymentReceived);
        console.log("Total Amount Received  :" + Number(TotalPaymentReceived).toFixed(2));
        console.log("Total Balance Amount   :" + Number(BalAmount).toFixed(2));
        $("#totBalId").text(Number(BalAmount).toFixed(2));
        //totBalId


    }
    function AddPStoCosting() {
        var totalServiceCost = 0;// Number($("#fsvsostingId").text());
        //console.log("totalServiceCost..." + totalServiceCost);
        $("#fsvsostingId").text('');
        $("#tblPS tbody > tr").each(function (idx) {

            var itemCost = 0;

            $(this).find('td').each(function (index) {

                if (index == 2) {
                   $(this).find("input").each(function () {
                        itemCost = $(this).val();
                        //console.log("Testing..." + itemCost);
                        totalServiceCost += Number(itemCost);

                    });

                }


            });





        });
        //console.log("cost  :" + Number(totalServiceCost).toFixed(2));
        $("#fsvsostingId").text(Number(totalServiceCost).toFixed(2));
        $("#fdCostingId").trigger("change");



    }
    function AddPS() {
        var trItems = "";

        //console.log(rowCount);
        trItems += ' <tr><td width = "5%" align = "center">#</td><td width = "30%" align = "left"> <input type="text" id="txSVCName" class="full-width" placeholder="Service Name" maxlength="15" runat="server"></td>';
        trItems += ' <td width = "30%" align = "left"> <input type="text" id="txtCost"  class="full-width" placeholder="Cost" maxlength="15" runat="server"></td>';
        trItems += ' <td> <input type="button" name="btnRemoveRow" class="prev action-button full-width mg-0 " onclick="RemovePS(this);" value="Remove" runat="server"></td></tr>';
        $("#tblPS tbody").append(trItems);
    }
    function RemovePS(tt) {
        $(tt).closest("tr").remove();
        AddPStoCosting();
    }

    function AddPayment() {
        var trItems = "";

        //console.log(rowCount);
        trItems += ' <tr id="0"><td  align = "center">#</td><td>&nbsp;</td><td  align = "left"> <input type="text" id="txtPmtDesc" class="full-width" placeholder="Description" maxlength="15" runat="server"></td>';
        trItems += ' <td align = "left"> <input type="text" id="txtPmtAmt"  class="full-width" style="text-align:right !important" placeholder="0.00" maxlength="15" runat="server"></td>';
        trItems += '<td><input type="button" name="btnRemovePayRow" class="prev action-button full-width mg-0 " onclick="RemovePay(this);" value="Remove" runat="server"><input type="button" name="btnCalPay" class="prev action-button full-width mg-0 " onclick="CalculateTotalPayment();" value="Calculate" runat="server"></td></tr>';
        $("#tblPayment tbody").append(trItems);
    }
    function CalculateTotalPayment() {
        CalCulateTotal();
    }
    function RemovePay(tt) {
        $(tt).closest("tr").remove();
        CalCulateTotal();
    }
</script>