@using PagedList.Mvc
@model PagedList.IPagedList<HotelBooking.Model.Reatraurant.RestaurantModel>
@{
    ViewBag.Title = "RestaurantList";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card widget-container">
            <div class="heading"> <i class="fa fa-bar-chart-o"></i>Restaurants <small></small> <span class="heading-right"><a href="index.html"><i class="fa fa-dashboard"></i> Dashboard</a> <small>&#58; Restaurants</small> </span></div>
            <div class="widget-content padded text-center">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 pull-right">
                            <button type="button" class="allbtnin form-group" onclick="location.href='@Url.Action("AddRestaurant","Home")'"> +ADD</button>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 table-responsive weblogtbl">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 pull-left">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pull-left text-left">
                                @using (Html.BeginForm("Restaurant", "Home", FormMethod.Get, new { id = "form1" }))
                                {
                                    <div id="pro_pag2">
                                        Show @* @Html.DropDownList("PageSize", new SelectList(new Dictionary<string, int> { { "5", 5 }, { "10", 10 }, { "20", 20 } }, "Key", "Value"), new { @class = "onlyinput", id = "RTpagesize" })*@
                                        @Html.DropDownList("pSize", (IEnumerable<SelectListItem>)ViewBag.pSize, new { @class = "onlyinput" }) Records
                                    </div>
                                }
                            </div>

                        </div>
                        <table id="RoomTypeTable" class="table table-bordered">
                            <tr>
                                <th width="3%" align="center" valign="middle" bgcolor="#003556" class="clrwhit">#</th>
                                <th width="25%" align="left" valign="middle" bgcolor="#003556" class="clrwhit">Name</th>

                                <th width="5%" align="center" valign="middle" bgcolor="#003556" class="clrwhit">Capacity(#Table)</th>
                                <th width="25%" align="center" valign="middle" bgcolor="#003556" class="clrwhit">Bar Facility</th>
                                <th width="25%" align="center" valign="middle" bgcolor="#003556" class="clrwhit">Breakfast Serve?</th>


                                <th width="8%" colspan="4" align="center" valign="middle" bgcolor="#003556" class="clrwhit">Action</th>

                            </tr>
                            @if (Model != null)
                            {
                                var i = 1;
                                foreach (var rt in Model)
                                {
                                    string brf = (@rt.isBarAvailable) ? "Available" : "Not Available";
                                    string brf1 = (@rt.isBreakfastServe) ? "Yes" : "No";
                                    <tr>

                                        <td align="center" valign="middle">@i</td>
                                        <td align="left" valign="middle">@rt.Name</td>
                                        <td align="left" valign="middle">@rt.NoOfTable</td>
                                        <td align="left" valign="middle">@brf</td>
                                        <td align="left" valign="middle">@brf1</td>
                                        <td align="center" valign="middle"><a class="viewbtn" href="@Url.Action("ViewRestaurant","Home",new { @RestaurantId = rt.RestaurantId })"><i class="fa fa-eye"></i> View</a></td>
                                        <td align="center" valign="middle"><a class="viewbtn" href="@Url.Action("RestaurantMenu","Home",new { @RestaurantId = rt.RestaurantId })"><i class="fa fa-eye"></i> View Menu</a></td>

                                        <td align="center" valign="middle"><a href="@Url.Action("AddRestaurant","Home",new { @RestaurantId = rt.RestaurantId })" class="editbtn"><i class="fa fa-edit"></i> Edit</a></td>
                                        <td align="center" valign="middle"><a href="@Url.Action("DelRestaurant","Home",new { @RestaurantId = rt.RestaurantId })" class="closebtn deletebtn"><i class="fa fa-trash-o"></i> Delete</a></td>

                                    </tr>
                                    i++;
                                }
                                <tr>
                                    <td colspan="9">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <span class="float-left restextpagin">Showing Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount </span>

                                            <div class="pagination pull-right" style="display:inline-block; vertical-align:middle;">

                                                @Html.PagedListPager(Model, page => Url.Action("Restaurant", new { page, pSize = ViewBag.PageSize }), PagedListRenderOptions.ClassicPlusFirstAndLast)

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

