@model HotelBooking.Model.Report.RestaurantSalesReportRequest
@{
    ViewBag.Title = "Resturant Sales Report";
}

<div class="row" id="Amenityform">
    <div class="col-sm-12">
        <div class="card widget-container">
            <div class="heading"> <i class="fa fa-bar-chart-o"></i> Restaurant Sales Report</div>

            <div class="widget-content padded text-center">

                <div class="row">
                    <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12 table-responsive pull-left">
                        <form id="msform" runat="server" action="/home/ResturantSalesReport" method="post" enctype="multipart/form-data" style=" margin:0px auto;">

                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pull-left">
                                <label for="edit-mail" class="form-required">Booking Date From </label>
                                <input type="text" id="txtfromDate" class="full-width allinputgo ValidateInput" placeholder="From Date" autocomplete="off">
                                @Html.HiddenFor(model => model.fromDate)
                                @Html.HiddenFor(model => model.BranchId)

                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pull-left">
                                <label for="edit-mail" class="form-required">Booking Date To </label>
                                <input type="text" id="txtToDate" class="full-width allinputgo ValidateInput" placeholder="To Date" autocomplete="off">
                                @Html.HiddenFor(model => model.toDate)

                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pull-left">
                                <label for="edit-mail" class="form-required">Booking Source</label>
                                <select name="SelRestaurants" id="SelRestaurants" class="full-width freetrial">
                                    @if (ViewBag.Restaurants != null)
                                    {
                                        foreach (var item in ViewBag.Restaurants)
                                        {
                                            if (item.Text != null)
                                            {
                                                <option value="@item.Value" selected="@item.Selected">
                                                    @item.Text.Trim()
                                                </option>

                                            }
                                        }
                                    }
                                </select>
                                @Html.HiddenFor(model => model.RestaurantId)
                               
                            </div>
                            


                            <input type="submit" name="SUBMIT" class="prev action-button" onclick="return checkValues();" value="Search" runat="server">
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("input").attr("autocomplete", "none");
        $(".ValidateInput").on("blur", function () {
            validateField(this);
        });
        $("#txtfromDate").datepicker({
            dateFormat: "mm-dd-yy"
            , duration: "fast",
            onSelect: function (selected) {

                $('#fromDate').val($('#txtfromDate').val());
                $("#txtfromDate").removeClass("errRedBorder");


            }
        });

        $("#txtToDate").datepicker({
            dateFormat: "mm-dd-yy"
            , duration: "fast",
            onSelect: function (selected) {

                $('#toDate').val($('#txtToDate').val());
                $("#txtToDate").removeClass("errRedBorder");


            }
        });

        $("#SelRestaurants").change(function () {
            var selArr = $('option:selected', this).val().split("-");

            $('#RestaurantId').val(selArr[0]);
           

        });
    });
    function checkValues() {
        if (!validateBooking()) {
            return false; // Prevent form submission if validation fails
        } else {
            return true;
        }
    }
</script>

