@model IEnumerable<HotelBooking.Model.PriceResponse>



    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-bordered">
        <tbody>
            <tr class="trthbgclr">
                <th>#</th>
                <th>Date</th>
               
                <th>Price</th>

            </tr>
            @if (Model != null)
            {
                var i = 1;
                decimal totalAmount = decimal.Parse("0");
                decimal totalTax = decimal.Parse("0");
                foreach (var p in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@p.Date</td>
                      
                        <td align="right">$ @p.Amount</td>
                        <input type="hidden" id="BookingCostId" value="@p.BookingCostId" />
                    </tr>
                    i++;
                    totalAmount = totalAmount + p.Amount;
                    totalTax = totalTax + p.TaxAmount;
                   
                }
                
                    totalAmount = totalAmount + totalTax;
                
                    <tr>
                        <td colspan="2" align="right">Tax(18%) : </td>
                        <td align="right">$ @totalTax</td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right">Total : </td>
                        <td colspan="3" align="right">$ @totalAmount</td>
                    </tr>

                <input type="hidden" id="TotalCostForNights" value="@totalAmount" />

            }
        </tbody>
    </table>
  
