@model HotelBooking.Model.VM_BookingDetails
@{
    ViewBag.Title = "Checkout";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card widget-container">
            <div class="heading"> <i class="fa fa-bar-chart-o"></i>Checkout <span class="heading-right"><a href="index.html"><i class="fa fa-dashboard"></i> Dashboard</a> <small>&#58; Checkout</small> </span></div>
            <div class="widget-content padded text-center">

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                        @*<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pull-right">
                            <input type="button" name="SUBMIT" class="addextraamountordiscountbtn  form-group" id="btnCheckout" value="Check Out" runat="server">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pull-right">
                            <button type="button" class="addextraamountordiscountbtn  form-group" onclick="myFunction()"> +Add Extra Amount or Discount</button>
                        </div>*@
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 table-responsive">
                        <div class="tab-container box bdrtab">

                            <div class="tab-menu">
                                <ul>
                                    <li><a href="#" class="tab-a active-a" id="Invoice1" data-id="Invoice">Invoice</a></li>
                                    <li><a href="#" class="tab-a" id="Payments1" data-id="Payments">Payment</a></li>
                                    <li><a href="#" class="tab-a" id="checkOut1" data-id="checkOut">Checkout</a></li>
                                    
                                </ul>
                            </div>
                            @*<ul class="nav nav-tabs">
                                <li class="nav-item"><a href="#Invoice" id="Invoice1" class="nav-link active" data-toggle="tab">Invoice</a></li>
                                <li class="nav-item"><a href="#Payments" id="Payments1" class="nav-link" data-toggle="tab">Payments</a></li>
                                <li class="nav-item"><a href="#checkOut" id="checkOut" class="nav-link" data-toggle="tab">Check out</a></li>
                            </ul>*@
                            <div class="tab-content">
                                <div class="tab tab-active" data-id="Invoice">
                                    <!--<h4 class="tabheading"><i class="fa fa-address-card" aria-hidden="true"></i> Account Details</h4>-->
                                    <form id="msform" runat="server" action="" method="get" style=" margin:0px auto;">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                                                <div class="col-lg-4 col-md-4 col-sm-6 pull-left">
                                                    <input type="text" id="txtUserName" class="full-width" placeholder="Comapny Name" runat="server">
                                                </div>
                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 pull-left">
                                                    <button type="submit" class="allbtnin full-width">GO</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab " data-id="Payments">
                                    <div class="row" id="BookingPaymentCoutDIV">

                                    </div>
                                </div>
                                <div class="tab " data-id="checkOut">
                                    <div class="row" id="RoomCheckOutDIV">

                                    </div>
                                </div>
                                <input type="hidden" id="BookingId" value="@Model.BookingId" />
                                <input type="hidden" id="NoOfRooms" value="@Model.NoOfRooms" />
                                <input type="hidden" id="BranchId" value="@ViewBag.BranchId" />
                                <input type="hidden" id="TotalPrice" value="@Model.TotalPrice" />
                                <input type="hidden" id="Amountpaid" value="@Model.Amountpaid" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        $('.tab-a').click(function () {
            $(".tab").removeClass('tab-active');
            $(".tab[data-id='" + $(this).attr('data-id') + "']").addClass("tab-active");
            $(".tab-a").removeClass('active-a');
            $(this).parent().find(".tab-a").addClass('active-a');
        });
        $("#Payments1").click(function () {
            loadPaymentDiv();
        });
        $("#checkOut1").click(function () {
            loadCheckoutDiv();
        });
       
        function loadPaymentDiv() {
            var BranchId = $("#BranchId").val();
            var BookingId = $("#BookingId").val();

            console.log("loading payment details");
            //$("#BookingPaymentCoutDIV").load("/BookingInterface/_Payments?BranchId=" + BranchId + "&BookingId=" + BookingId);
            var URL = "/BookingInterface/_Payments?BranchId=" + BranchId + "&BookingId=" + BookingId;
            $.ajax({
                type: 'GET',
                url: URL,
                success: function (data) {
                   
                },
                error: function (err) {
                    console.log('Failed to get data' + err);

                }
            }).done(function (data) {
                setTimeout(function () {
                    // $("#overlay").fadeOut(300);
                }, 500);
                $("#BookingPaymentCoutDIV").html(data);

            });
        }

        function loadCheckoutDiv() {
            var BranchId = $("#BranchId").val();
            var BookingId = $("#BookingId").val();
            var nor = $("#NoOfRooms").val();

            console.log("loading checkout page details");
            
            var URL = "/BookingInterface/_RoomCheckout?&BookingId=" + BookingId + "&noRooms=" + nor;
            $.ajax({
                type: 'GET',
                url: URL,
                success: function (data) {
                    console.log("SUCCESS::loading checkout page details");
                },
                error: function (err) {
                    console.log('ERROR::Failed to get data' + err);

                }
            }).done(function (data) {
                setTimeout(function () {
                    // $("#overlay").fadeOut(300);
                }, 500);
                $("#RoomCheckOutDIV").html(data);

            });
        }

    });

</script>


