@using PagedList.Mvc
@model PagedList.IPagedList<HotelBooking.Model.Designation>
@{
    ViewBag.Title = "Designation";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card widget-container">
            <div class="heading"> <i class="fa fa-bar-chart-o"></i>Designation <small>Lists</small> <span class="heading-right"><a href="index.html"><i class="fa fa-dashboard"></i> Dashboard</a> <small>&#58; Employess</small> </span></div>
            <div class="widget-content padded text-center">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 pull-right">
                            <button type="button" class="allbtnin  form-group" data-toggle="modal" onclick="location.href='@Url.Action("AddDesig","HR")'" data-target="#NewStatus"> +ADD</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 table-responsive weblogtbl">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 pull-left">
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 pull-left text-left">

                                @using (Html.BeginForm("Designation", "HR", FormMethod.Get, new { id = "form1" }))
                                {
                                    <div id="pro_pag2">
                                        Show @Html.DropDownList("pSize", (IEnumerable<SelectListItem>)ViewBag.pSize, new { @class = "onlyinput" }) Records
                                    </div>
                                }

                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pull-left">
                                Search
                                <input type="text" id="txtUserName" class="onlyinput" placeholder="Search" runat="server">
                            </div>
                        </div>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th width="3%" align="center" valign="middle" bgcolor="#003556" class="clrwhit"><a href="#">#</a></th>
                                    <th width="80%" align="left" valign="middle" bgcolor="#003556" class="clrwhit"><a href="#">Name</a></th>
                                    <th width="80%" align="left" valign="middle" bgcolor="#003556" class="clrwhit"><a href="#">Code</a></th>
                                    <th colspan="2" align="center" valign="middle" bgcolor="#003556" class="clrwhit"><a href="#">Action</a></th>
                                </tr>
                                @if (Model != null)
                                {
                                    var i = 1;
                                    foreach (var stf in Model)
                                    {
                                        <tr>
                                            <td align="center" valign="middle">@i</td>
                                            <td align="left" valign="middle">@stf.DesignationName</td>
                                            <td align="left" valign="middle">@stf.DesignationCode</td>

                                            <td align="left" valign="middle"><a href="@Url.Action("AddDesignation","HR",new { @DesigId = stf.Id })" class="editbtn"><i class="fa fa-edit"></i> Edit</a></td>
                                            <td align="left" valign="middle"><a href="@Url.Action("DelDesignation","HR",new { @DesigId = stf.Id })" class="closebtn deletebtn"><i class="fa fa-trash-o"></i> Delete</a></td>
                                        </tr>
                                        i++;
                                    }
                                }
                                <tr>
                                    <td colspan="5">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <span class="float-left restextpagin">Showing @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</span>

                                            <div class="pagination pull-right">
                                                @Html.PagedListPager(Model, page => Url.Action("Designation", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

